<div class="container" style="margin-top: 10px;">
    <div>
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            {{proyectoResponse.Nombre}}
        </p>
    </div>
</div>

<div class="col-md-12 row" style="margin-top: 20px;">
    <div class="col-md-6">
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Código: <label style="font-weight: normal;"> {{ proyectoResponse.Codigo }}</label> 
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Tipo de Inversión: <label style="font-weight: normal;">  {{ proyectoResponse.InversionDescripcion }}</label> 
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Ciclo de Invserión:  <label style="font-weight: normal;"> {{ proyectoResponse.CicloDescripcion }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Naturaleza: <label style="font-weight: normal;"> {{ proyectoResponse.NaturalezaDescripcion }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Modalidad: <label style="font-weight: normal;">  {{ proyectoResponse.Modalidad }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Departamento:  <label style="font-weight: normal;">  {{ proyectoResponse.Departamento }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Provincia:  <label style="font-weight: normal;">  {{ proyectoResponse.Provincia }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Distrito: <label style="font-weight: normal;">  {{ proyectoResponse.Distrito }} </label>
                </label>
            </div>
            <div class="col-md-12">
                <label style="font-weight: bold;">
                    Costo: <label style="font-weight: normal;"> S/. {{ proyectoResponse.Costo }} </label>
                </label>
            </div>

    </div>
    <div class="col-md-6">
        <div id="container" style="height: 500px;">
        </div>
    </div>
</div>


        




