<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
           Despacho
        </p>
    </div>
</div>

<div class="container">
    <div class="row col-md-12">
        <div style="padding-right: 10px;" *ngFor="let item of listTotalOrderEntity">
            <div  class="card" style="width: 18rem;"  (click)="filterStatus(item)">
                <div class="card-body" [ngClass]="{'itemcardnoselected':item.Selected != '1','itemcardselected':item.Selected == '1'}">
                    
                        <p>
                            {{ item.Name }} {{ item.Quantity }}
                        </p>
                    
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label style="font-weight: bold;">
                Desde:
            </label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" ng-readonly="all" class="form-control" style="height: 36px;"
                    autocomplete="off"
                    [(ngModel)]="SinceDate" name = "sinceDate"
                    placeholder="Fecha Inicio" #dps="bsDatepicker" bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }">
                <div class="input-group-append" (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen">
                    <span class="input-group-text"><em class="far fa-calendar-alt"></em></span>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <label style="font-weight: bold;">
                Hasta:
            </label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" style="height: 36px;"
                    autocomplete="off"
                    [(ngModel)]="UntilDate" name = "untilDate"
                    placeholder="Fecha Fin" #dpe="bsDatepicker" bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }">
                <div class="input-group-append" (click)="dpe.toggle()" [attr.aria-expanded]="dpe.isOpen">
                    <span class="input-group-text"><em class="far fa-calendar-alt"></em></span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button (click)="buscarFechas()" class="form-control btn-success"><em class="fas fa-search"></em>&nbsp;&nbsp; Buscar</button>
        </div>

        <div class="col-md-2">
            <button (click)="limpiar()" class="form-control btn-success"><em class="fas fa-trash"></em>&nbsp;&nbsp; Limpiar</button>
        </div>

    </div>

</div>
        
<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table [data]="listOrderEntity" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            (edit) = "verDetalle($event)"
            [headers]="headers">
        </app-table>
    </div>
</div>

