<input #inputFile (change)="handleUpload($event, data)" accept="{{accept}}" id="file_{{position}}" type="file">
<label *ngIf="isIcon" style="border: none;" type="button" class="btn btn-default btn-sm" for="file_{{position}}">
    <em for="file_{{position}}" tooltip="{{ button.tooltip }}" placement="auto"
        class="fas {{button.icon}}"></em>
</label>

<label *ngIf="!isIcon" class="btn-1" for="file_{{position}}">
    <em for="file_{{position}}" class="fas fa-plus-circle"></em>
    {{label}}
</label>