<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
           Ventas
        </p>
    </div>
</div>

<div class="container">
    <div class="row col-md-12">
        <div style="padding-right: 10px;" *ngFor="let item of listTotalOrderEntity">
            <div  class="card" style="width: 18rem;">
                <div class="card-body">
                    <p>
                        {{ item.Name }} {{ item.Quantity }}
                    </p>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
    </div>
</div>
        
<br>
<div class="container">
    <div class="kt-portlet__body">
        <!-- <app-table [data]="listRisk" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            [headers]="headers">
        </app-table> -->
    </div>
</div>

