<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            Almacen
        </p>
    </div>
</div>

<div class="col-md-2">
    <button class="form-control btn-danger ml-10" routerLink="alerta" ><em class="fa fa-times"></em>&nbsp;&nbsp; Alerta de Insumos</button>
</div>
<!-- <div class="container">

    <div class="row">
        <div class="col-md-2">
            <label style="font-weight: bold;">
                Producto:
            </label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" ng-readonly="all" class="form-control" [(ngModel)]="nameSuppliesSearch">
            </div>
        </div>

        <div class="col-md-2">
            <button (click)="buscarSupplies()" class="form-control btn-success"><em class="fas fa-search"></em>&nbsp;&nbsp; Buscar</button>
        </div>

    </div>

</div> -->

<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table 
            [data]="ListSuppliesEntity" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            (edit) = "verDetalle($event)"
            [headers]="headers">
        </app-table>
    </div>
</div>


