<?xml version="1.0"?>

<appSettings>
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ALLOWED_ORIGINS_URL" value="https://localhost/BaseArchitecture/" />
  <add key="URL_WEB_API" value="http://localhost/BaseArchitecturews/" />
  <add key="LOG_FILE_PATH" value="C:\ApplicationLogs\7005\" />
  <add key="AWS_REGION" value="us-east-1" />
  <add key="AWS_LOG_GROUP" value="ProyectoBase-gateway" />
  <add key="AWS_IDENTITY_POOL" value="us-east-1:784eea4b-bf88-4d56-a6d5-3366d7c90fe8" />
</appSettings>