<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
           Acabado
        </p>
    </div>
</div>
        
<div class="container">
    <div class="row col-md-12">
        <div style="padding-right: 10px;" *ngFor="let item of ListTotalOrderEntity">
            <div  class="card" style="width: 18rem;"  (click)="filterStatus(item)">
                <div class="card-body">
                    <p>
                        {{ item.Name }} {{ item.Quantity }}
                    </p>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label style="font-weight: bold;">
                N° Pedido:
            </label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" ng-readonly="all" class="form-control" [(ngModel)]="nroPedidoSearch">
            </div>
        </div>

        <div class="col-md-2">
            <button (click)="buscarPedido()" class="form-control btn-success"><em class="fas fa-search"></em>&nbsp;&nbsp; Buscar</button>
        </div>

    </div>

</div>

<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table 
            [data]="ListSubOrderEntity" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            (edit) = "verDetalle($event)"
            [headers]="headers">
        </app-table>
    </div>
</div>


