<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            <a routerLink="/almacen">
                <i class="fas fa-long-arrow-alt-left fa-2x" style="color:#006169"></i>
            </a>
            
        </p>
    </div>
</div>

<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
           Alerta de Insumos
        </p>
    </div>
</div>
<div class="container">
    <div class="kt-portlet__body">
        <app-table 
            [data]="ListSuppliesEntity" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            (edit) = "verDetalle($event)"
            [headers]="headers">
        </app-table>
    </div>
</div>



<div class="container" *ngIf="visibleRegistro" >
    <div class="col-md-12 row">
        <div class="col-md-6" style="margin-top: 30px;">
            <div class="col-md-11 row">
                Insumo<span style="color:red">(*)</span>: <input [(ngModel)]="supplyName" class="form-control" [disabled]="true">
            </div>
            <br>
            <div class="col-md-11 row ">
                Proveedor<span style="color:red">(*)</span>:
                <select [(ngModel)]="supplier" name="distrito" class="form-control">
                    <option value="">-- Seleccione --</option>
                    <option value="{{item.IdSupplier}}" *ngFor="let item of ListSuppliersByIdSupply">{{ item.Name }}</option> 
                </select>
            </div>
            <br>
            <div class="col-md-11 row">
                Precio Unitario<span style="color:red">(*)</span>: <input [(ngModel)]="buySupplyEntity.UnitPrice" class="form-control">
            </div>
            <div class="col-md-11 row">
                Cantidad<span style="color:red">(*)</span>: <input [(ngModel)]="buySupplyEntity.Quantity" class="form-control">
            </div>
            <div class="col-md-11 row">
                Precio Total<span style="color:red">(*)</span>: <input [(ngModel)]="buySupplyEntity.TotalPrice" class="form-control">
            </div>
            <br>

            <br>
          <br>
         
          <div class="row">
            <div class="col-md-3"> 
              <button  [disabled] ="disabledSend"  (click)="sendOrder()" class="form-control btn-success">Enviar</button>
            </div>
          </div>
        </div>
    </div>
</div>
    