@{
    ViewBag.Title = "Home Page";
    var user_base_project = HttpContext.Current.Session["user_base_project"] == null ? "" : HttpContext.Current.Session["user_base_project"].ToString();
    var jsonUser = Html.Raw(Newtonsoft.Json.JsonConvert.DeserializeObject(user_base_project));
}
    <script>
        var user = null;
    </script>
<div class="jumbotron">
    <h3>Adjuntar archivo</h3>
    <input type="file" onchange="loadFileS3(event)"/>

</div>
@section Scripts {
    
    <script>
        user = @jsonUser;
        fileS3.ParamS3(user.Value);


        function loadFileS3(event) {
            debugger;
            let file = event.target.files;
            let namePath = "";

            let params = fileS3.ParamsBucket(
                "antamina-site-dev/ProyectoBase",
                file.item(0).name,
                file.item(0)
            );

            fileS3
                .UploadS3(params, (err, data) => {
                    if (err) {
                        console.log(err);
                        return false;
                    } else return true;
                })
                .on('httpUploadProgress', (event) => {
                    Math.round((event.loaded / event.total) * 100);
                    if (event.loaded === event.total) {
                        console.log(event.key);
                    }
                });

        }

    </script>

}