<div id="kt_aside_mobile" class="aside aside-left aside-fixed d-flex flex-column flex-row-auto">
    <div (mouseover)="mouseOverMenu(true)" (mouseout)="mouseOverMenu(false)" id="kt_aside_menu_wrapper"
        class="aside-menu-wrapper flex-column-fluid">
        <div class="userInfo">
            <div>
                <img src="assets/media/avatar.png" alt="" class="imgUser">
            </div>
            <div class="lbluser">
                <span class="menu-text"> {{nameUser}} </span>
            </div>

            <!-- <div class="text-muted mt-1 mb-1">
                <select id="IdLevel" [(ngModel)]="profileActual" (change)="refreshProfile()" class="form-control"
                    style="width: 87%; margin: 0 auto;">
                    <option *ngFor="let item of listProfile" [value]="item.ProfileId">{{item.ProfileName}}</option>
                </select>
            </div> -->

            <div class="btnSesion">
                <button class="btn closed" (click)="signOff()"><span>
                        <em class="fas fa-power-off"></em></span> {{labelJson.general.lblClosedSession}} </button>
            </div>
        </div>
        <menu-option [menu]="menu"></menu-option>

    </div>
</div>