.btn-primary{
  color: white !important;
  /* background: #03787C !important; */
  border: none !important;
}

.btn-secundary{
  background-color: #eaeaea !important;
  color: #014446 !important;
  border: none !important;
}

/* You can add global styles to this file, and also import other style files */
.modal-title{
  color: #FFF !important;
}

.btnPlanAction {
  background-color: red !important;
  border-color: red !important;
}

.btnClosed{
  font-size: 30px;
  color: #FFF;
}

.modal .modal-content{
    border: 2px solid #047D87;
    border-radius: 10px;
}

.input-group-text{
  padding: 0.3rem 1rem;
}

.tagify .tagify__tag{
  padding: 0px;
}

.tagify .tagify__tag div .tagify__tag-text{
  color: #000000;
}

.tagify__input{
  margin: 1px;
  min-width: 90px;
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.tagify[readonly] > .tagify__input{
  margin: 1px !important;
}

.tagify[readonly]{
  background-color: #f7f8fa;
}

.bs-datepicker-container .bs-datepicker-head {
  background-color: #047D87 !important;
}

.theme-green .bs-datepicker-body table td span.selected, 
.theme-green .bs-datepicker-body table td.selected span, 
.theme-green .bs-datepicker-body table td span[class*="select-"]:after, 
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #047D87;
}

/* .dropdown-menu[_nghost-fnw-c55], .dropdown-menu[_ngcontent-fnw-c55] {
  width: 150px !important;
} */

.kt-portlet .kt-portlet__head{
    min-height: 45px !important;
}

body, html{
    background: #ffffff;
  }
  .kt-portlet__head{
    border-bottom: 0 !important;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  }
  .kt-portlet__head:after {
    content: "";
    background-color: red;
    position: absolute;
    left: 0;
    top: 34%;
    width: 4px;
    height: 20px;
  }
  .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--here>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--here>.kt-menu__link, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot>span, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--line>span, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot>span, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--line>span{
    box-shadow: 0 15px 8px -11px rgba(0,0,0,.25);
  }
  .kt-header--fixed.kt-subheader--fixed .kt-subheader{
    background-color: #047d87;
    /* opacity: .8; */
    box-shadow: 0 15px 8px -11px rgba(0,0,0,.25);
  }
  .kt-subheader .kt-subheader__main .kt-subheader__title{
    color: #ffffff;
  }
  
  .kt-portlet{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  }
  
  #cel{
    display: none;
  }
  
  /* .modal-body{
    height: 400px;
    overflow: hidden scroll;
  } */

  .modal-open{
    overflow: hidden !important;
  }
  .modal-backdrop{
    z-index: 999;
  }
  .modal{
    z-index: 1000;
  }
  
  @media (max-width: 425px) {

    .input-group-text{
      padding: 0.3rem 1rem;
  }
    
    .modal-open .modal{
      overflow: hidden;
    }
    .modal-body{
      height: 500px;
      overflow: hidden scroll;
    }
    .dropdown-menu, .dropdown-menu{
        overflow-y: auto;
        /* height: 190px !important; */
        width: 83%;
    }
    .kt-footer{
        position: fixed;
        width: 100%;
        bottom: 0; 
    }
    .dropdown-menu.dropdown-menu-xl{
        display: none;
    }
    #cel{
        display: block;
    }
    .kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid{
      margin-bottom: 10%;
    }
    /* .modal-body{
      height: 500px;
    } */
  }

  .iziToast>.iziToast-body .iziToast-buttons>button{
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .kt-sc-survey-question{
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .iziToast-wrapper{
    z-index: 1051 !important;
  }
  .iziToast-overlay{
    z-index: 1050 !important;
  }
  div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
  }



  /* component */
  .card-header{
    padding: 2px 17px;
    background-color: #047D87;
  }

  .card-header button{
    color: #ffffff;
    background-color: transparent !important;
  }

  .card-header button:hover,
  .card-header button:active{
    background-color: transparent !important;
    color: #ffffff;
    text-decoration: none;
  }

  input.form-control{
      height: 28px;
      font-size: 12px;
  }

  select.form-control{
      height: 28px;
      font-size: 12px;
      padding: 0;
      padding-left: 8px;
  }

  .panel.card.panel-default{
    margin-bottom: 1rem;
  }
  /* .slider .tooltip.top{
    opacity: 1 !important;
  } */
  .slider.slider-horizontal{
    width: 100% !important;
  }

  @media (min-width: 1024px){
    .container{
      max-width: 1200px !important;
    }

  }

@media (min-width: 1200px){
    .modal-xl {
      max-width: 1140px !important;
  }
}


.container_per{
  background: #EEF0F8 !important;
  padding-bottom: 50px !important;
}


.itemcardselected{
  background-color: #28a3a1;
  color:white;
}

.itemcardnoselected{
  background-color: white;   
  color:black;
}