[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}
[type="file"] + label {
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    margin: 0;
}

.table thead th{
    background-color: #28a3a1;
    font-family: 'Candara', sans-serif;
    font-size: 13px;
    color: #FFF;
}

.table{
    font-family: 'Candara', sans-serif;
    font-size: 13px; 
}

.btn-add{
    background-color: #0c54ac;
    font-family: 'Candara', sans-serif;
    border-radius: 60px;
    color: #FFF;
    border: none;
}
.borderPriority{
    color:red;
}
.borderNoPriority{
    color: rgba(4, 125, 135, 1);
}


.iconoInput {
    color: #e8e8e8;
    font-size: 15px;
    position: absolute;
    left: 25px;
    padding-top: 5px;
}

.inputPadding {
    padding-left: 40px;
}

.search{
    padding-top: 10px;
    padding-bottom: 10px;
}


.iconInput {
    color: #e8e8e8;
    font-size: 15px;
    position: absolute;
    left: 25px;
    padding-top: 5px;
}

.inputPadding {
    padding-left: 40px;
}

.search{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnFilter{
    color: #000000 ;
    font-size: 21px;
    margin-top: -10px;
}