<div class="container" style="margin-top: 10px;">
    <div>
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            Planificar Cronograma de Visitas
        </p>
    </div>
</div>
<div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Código Proyecto:
                </label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [typeahead]="listEmployee" [(ngModel)]="selectedEmployee"
                [typeaheadScrollable]="true" name="listEmployee" [typeaheadOptionsInScrollableView]="5"
                [isAnimated]="true" autocomplete="off" [adaptivePosition]="true"
                typeaheadOptionField="name" (typeaheadOnSelect)="typeaheadOnSelectEmployee($event)" />
            </div>
            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Proyecto:
                </label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Periodo de visita:
                </label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control"/>
            </div>
            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Coordinador:
                </label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Tipo zona:
                </label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control"/>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label style="font-weight: bold;">
                    Región:
                </label>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>--Seleccione--</option>
                </select>
            </div>

            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Distrito:
                </label>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>--Seleccione--</option>
                </select>
            </div>
            <div class="col-md-1">
                <label style="font-weight: bold;">
                    Provincia:
                </label>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>--Seleccione--</option>
                </select>
            </div>
        </div>
</div>

        
<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table [data]="listRisk" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            [headers]="headers">
            <!-- (edit)= "openRiskDetail($event)" -->
        </app-table>
    </div>
</div>

