<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            Cartera de Proyectos
        </p>
    </div>
    <div class="col-2" style="text-align: end;">
        <button type="button" class="btn btn-primary" ><em class="fas fa-file-excel"></em> Exportar Excel </button>
    </div>
</div>
        
<br>
<div class="container">
    <div class="kt-portlet__body">
        <app-table [data]="listRisk" 
            [configTable]="configTable"
            [totalItems]="totalItems"
            [headers]="headers"
            (edit)="viewDetail($event)">
        </app-table>
    </div>
</div>

