<?xml version="1.0"?>

<appSettings>
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ALLOWED_ORIGINS_URL" value="http://localhost:11805" />
  <add key="EMAIL_SALES_RESPONSIBLE" value="ppardoz09@gmail.com" />
  <add key="URL_SIAPPS" value="http://asvclddevws02:27009/siappsws/api/setuserloginaws" />
  <add key="REGISTER_BATCH_SIZE" value="10000" />
  <add key="AWS_REGION" value="us-east-1" />
  <add key="AWS_LOG_GROUP" value="ProyectoBase-api" />
  <add key="AWS_CLIENT_ID" value="3nbtfusnskug0m7hu9gvh0sduo" />
  <add key="AWS_IDENTITY_POOL" value="us-east-1:c6e71b26-6b54-4240-805b-a4f757c13e68" />
  <add key="AWS_USER_POOL" value="us-east-1_m2pNioxTk" />
  <add key="LOG_FILE_PATH" value="C:\ApplicationLogs\0020\" />
  <add key="FILE_Temp" value="C:\Antamina\27020\" />
  <add key="URL_SERVICE_UNIVERSAL"
       value="http://asvclddevws02:27020/WSEXECUTE/URIExecuteEllipse.svc/GetExecuteComando/" />
  <add key="URL_SERVICE_EMAIL_QUEUE" value="http://asvclddevws02:27006/notificacionesws/Api/EmailQueue" />
  <add key="URL_SERVICE_PHONE_QUEUE" value="http://asvclddevws02:27006/notificacionesws/Api/PhoneQueue" />
  <add key="URL_SERVICE_USER_PROFILE" value="http://asvclddevws02:27009/siappsws/api/SetUserLoginAWS/Usuario/Perfil" />
  <add key="AWS_BUCKET_NAME" value="antamina-site-dev" />
  <add key="AWS_BUCKET_FOLDER" value="ProyectoBase" />
  <add key="AWS_DAYS_EXPIRE" value="1" />
  <add key="AWS_REGION_END_POINT_S3" value="http://s3.amazonaws.com" />
  <add key="URL_SERVICE_PROGRAMMED" value="http://localhost:11803/" />
  <add key="SERVICE_PROGRAMMED_REG_TASK_SCHEDULING" value="api/Task/RegTaskScheduling" />
</appSettings>