<?xml version="1.0"?>

<appSettings>
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ALLOWED_ORIGINS_URL" value="http://localhost:11805" />
  <add key="EMAIL_SALES_RESPONSIBLE" value="ppardoz@hotmail.com" />
  <add key="EMAIL_LOGISTIC_RESPONSIBLE" value="gino.maguina@gmail.com" />
</appSettings>