<ng-container *ngIf="deviceType == 'M'">  
    <div class="container" style="margin-top: 10px;">
        <div>
            <p style="text-align: center; font-size: 16px; font-weight: bold;margin-bottom: 0;">
                Registrar Proyecto
            </p>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-1">
                    <label style="font-weight: bold;">
                        Código Proyecto:
                    </label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [typeahead]="listEmployee" [(ngModel)]="selectedEmployee"
                    [typeaheadScrollable]="true" name="listEmployee" [typeaheadOptionsInScrollableView]="5"
                    [isAnimated]="true" autocomplete="off" [adaptivePosition]="true"
                    typeaheadOptionField="name" (typeaheadOnSelect)="typeaheadOnSelectEmployee($event)" />
                </div>
            </div>
            <br>
    </div>
    <div class="container" *ngIf="itemType === 'RP'">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
                <a class="nav-item nav-link active" id="nav-just-tab" data-toggle="tab" href="#nav-just"
                    role="tab" aria-controls="nav-just"
                    aria-selected="false"> Obra </a>
                <a class="nav-item nav-link" id="nav-obj-tab" data-toggle="tab" href="#nav-clau" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Herramientas </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-just" role="tabpanel" aria-labelledby="nav-just-tab">
                    <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    POSTES
                                </label>
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label> Madera: </label>
                            </div>
                            <div class="col-2">
                                <label> 12/C6 </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                            <div class="col-2">
                                <label> 12/C5 </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Concreto: </label>
                            </div>
                            <div class="col-5">
                                <label> 13m de 400 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    CONDUCTORES:
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Aluminio </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Tipo AAAC: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    AISLADORES:
                                </label>
                            </div>               
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Porcelana </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> PIN ANSI 56-3: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> PIN ANSI 56-4: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-3">
                                <label> Poliméricos </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> Suspención: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    PUESTA A TIERRA:
                                </label>
                            </div>               
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> PAT-1 </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label> PAT-2 </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="nav-clau" role="tabpanel" aria-labelledby="nav-clau-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                MATERIAL DE FERRETERÍA:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Pernos: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Abrazaderas: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Accesorios de Aisladores: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                SUB-ESTACIONES DE DISTRIBUCIÓN:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label> Monofasicas: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label> Bifasicas: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label> Trifasicas: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                TABLERO DE DISTRIBUCIÓN:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Transformadores: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Interruptores Termomágneticos: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Contactores Tipo A: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Medidores de energía: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <label> Fusibles de expulsión: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                SISTEMA DE PROTECCIÓN:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label> Pararrayos: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" *ngIf="itemType === 'RS'">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
                <a class="nav-item nav-link active" id="nav-just-tab" data-toggle="tab" href="#nav-just"
                    role="tab" aria-controls="nav-just"
                    aria-selected="false"> Obra </a>
                <a class="nav-item nav-link" id="nav-obj-tab" data-toggle="tab" href="#nav-clau" role="tab"
                    aria-controls="nav-obj" aria-selected="false"> Herramientas </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-just" role="tabpanel" aria-labelledby="nav-just-tab">
                    <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="row">
                            <div class="col-5">
                                <label style="font-weight: bold;">
                                    NÚMERO DE LOTES:
                                </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    POSTES
                                </label>
                            </div>
                            <br>                 
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Madera: </label>
                            </div>
                            <div class="col-2">
                                <label> 8/C7 </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-4">
                                <label> Concreto: </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> 8m de 200 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> 11m de 200 da/N: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <label style="font-weight: bold;">
                                    CONDUCTORES:
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label> Aluminio </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label> Autoportante: </label>
                            </div>
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    ALUMBRADO PÚBLICO:
                                </label>
                            </div>
                            <div class="col-3">
                                <input type="checkbox">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    RETENIDAS Y ANCLAJES:
                                </label>
                            </div>
                            <div class="col-3">
                                <input type="checkbox">
                            </div>
                        </div>
                        <br> 
                        <div class="row">
                            <div class="col-6">
                                <label style="font-weight: bold;">
                                    PUESTA A TIERRA:
                                </label>
                            </div>    
                            <div class="col-3">
                                <input type="checkbox">
                            </div>           
                        </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="nav-clau" role="tabpanel" aria-labelledby="nav-clau-tab">
                <div class="container" style="padding-bottom: 20px; padding-top: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <label style="font-weight: bold;">
                                MATERIAL DE FERRETERÍA:
                            </label>
                        </div>               
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Grapa de suspención: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Grapa de anclaje: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label> Pernos: </label>
                        </div>
                        <div class="col-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col-7">
                            <label style="font-weight: bold;">
                                CONEXIONES DOMICILIARIAS:
                            </label>
                        </div>      
                        <div class="col-3">
                            <input class="form-control">
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>



</ng-container>
