<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
            <a routerLink="/despacho">
                <i class="fas fa-long-arrow-alt-left fa-2x" style="color:#006169"></i>
            </a>
            
        </p>
    </div>
</div>

<div class="container row" style="margin-top: 10px;">
    <div  class="col-10">
        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">
           Detalle
        </p>
    </div>
</div>
<div class="container">
    <label>Pedido: {{codeOrder}}</label>
</div>
<br>
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-3">
            Modelo
        </div>
        <div class="col-md-3">
            Descripción
        </div>
        <div class="col-md-2" style="text-align: center;">
            Precio Unitario 
        </div>
        <div class="col-md-2" style="text-align: center;">
            Cantidad
        </div> 
        <div class="col-md-2" style="text-align: center;">
            Sub Total 
        </div>
    </div>
    <div *ngFor="let item of listOrderDetail">
        <div class="row col-md-12" >
            <div class="col-md-3">
                <img class="card-img-top" style="background-size: contain; height: 70px; width: 70px;"
                src={{item.PathImageProduct}}  alt="Sin imagen" />
            </div>
            <div class="col-md-3">
            {{item.Description}}
            </div>
            <div class="col-md-2" style="text-align: center;">
            S/. {{item.UnitPrice}}
            </div>
            <div class="col-md-2" style="text-align: center;">
            {{item.Quantity}}
            </div>
            <div class="col-md-2" style="text-align: center;">
            S/. {{ item.UnitPrice*item.Quantity }}
            </div>
           
        </div>
        <br>
    </div>
    <div class="row col-md-12">
        <div class="col-md-9">
            
        </div>        
        <div class="col-md-3" >
            Total S/. {{total}}
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row col-md-12">
        <div class="col-md-3">
            Nombres: {{ customerEntity.FirstName }}
        </div>
        <div class="col-md-3">
            Apellidos: {{ customerEntity.LastName }}
        </div>
        <div class="col-md-3">
            DNI: {{ customerEntity.DocumentNumber }}
        </div>
        <div class="col-md-3">
            Correo: {{ customerEntity.Email }}
        </div>
    </div>
    <br>
    <div class="row col-md-12">
        <div class="col-md-3">
            Telefono: {{ customerEntity.PhoneNumber }}
        </div>
        <div class="col-md-3">
            Departamento: {{ customerEntity.Department }}
        </div>
        <div class="col-md-3">
            Provincia: {{ customerEntity.Province }}
        </div>
        <div class="col-md-3">
            Distrito: {{ customerEntity.District }}
        </div>
    </div>
    <br>
    <div class="row col-md-12" *ngIf="orderBD.BusinessNumber != '' ">
        <div class="col-12">
            Datos de la Factura
        </div>
        <br>
        <div class="col-12">
            <div class="col-md-3">
                RUC: {{ orderBD.BusinessNumber }}
            </div>
            <div class="col-md-3">
                Razon Social: {{ orderBD.BusinessName }}
            </div>
        </div>

    </div>

    <br>
    
    <ng-container ><!--*ngIf="statusSubOrderMT != '00103'"-->

        <div class="container">
            <label>Estado</label>&nbsp;&nbsp;
            <select  [(ngModel)]="Status" class="form-control col-md-2">                
                <option value="00101" selected>Pendiente</option>                
                <option value="00102">Entregado</option>
            </select>
        </div>
        <br>
        <div class="container row">
            <div class="col-md-2">
                <button class="form-control btn-success" (click)="SendAnswer(1)"><em class="fas fa-check"></em>&nbsp;&nbsp; Enviar</button>
            </div>
        </div>

    </ng-container>

    <div class="row col-md-12" *ngIf="orderBD.LocationOrder == actualLocation && rechazado==false">
        <div class="col-md-2">
            <button class="form-control btn-success" (click)="SendAnswer(1)"><em class="fas fa-check"></em>&nbsp;&nbsp; Aprobar</button>
        </div>
        <div class="col-md-2">
            <button class="form-control btn-danger" (click)="SendAnswer(2)"><em class="fa fa-times"></em>&nbsp;&nbsp; Rechazar</button>
        </div>
    </div>
</div>

