USE [master]
GO
/****** Object:  Database [MAPESAC]    Script Date: 23/10/2021 22:47:23 ******/
CREATE DATABASE [MAPESAC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAPESAC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPESAC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MAPESAC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPESAC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAPESAC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAPESAC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCodeOrder]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetCodeOrder] ()  
	RETURNS CHAR(13)  
AS  
BEGIN  
	DECLARE	@VResult	CHAR(13);
	DECLARE	@CDate		DATETIME	=	GETDATE()
	SELECT	@VResult	=	CONCAT(	RIGHT(YEAR(@CDate),4)
									,RIGHT(CONCAT('00',CAST(MONTH(@CDate)  AS VARCHAR(2))),2)
									,'-'
									,RIGHT(CONCAT('000000',CAST(COUNT(1)+1  AS VARCHAR(6))),6))
	FROM	dbo.[Order]	O
	WHERE	YEAR(O.DateOrder)	=	YEAR(@CDate)
	AND		MONTH(O.DateOrder)	=	MONTH(@CDate)

	RETURN	@VResult;
END;  
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCodeSubOrder]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetCodeSubOrder] (
	@ParamILocationOrder	AS	CHAR(5)
)  
	RETURNS VARCHAR(25)  
AS  
BEGIN  
	DECLARE	@VResult	VARCHAR(25);
	DECLARE	@CDate		DATETIME	=	GETDATE();
	DECLARE	@CLocationOrderPrefix	VARCHAR(10);
	DECLARE	@CIdLocationCorte		CHAR(5)	=	'00202';
	DECLARE	@CIdLocationCostura		CHAR(5)	=	'00203';
	DECLARE	@CIdLocationLavanderia	CHAR(5)	=	'00204';
	DECLARE	@CIdLocationAcabados	CHAR(5)	=	'00205';
	
	SET	@CLocationOrderPrefix	=
	(	CASE	@ParamILocationOrder
			WHEN	@CIdLocationCorte		THEN	'CORT'
			WHEN	@CIdLocationCostura		THEN	'COST'
			WHEN	@CIdLocationLavanderia	THEN	'LAVA'
			WHEN	@CIdLocationAcabados	THEN	'ACAB'
			ELSE	'OTRO'
		END)

	SELECT	@VResult	=	CONCAT(	@CLocationOrderPrefix
									,RIGHT(YEAR(@CDate),4)
									,RIGHT(CONCAT('00',CAST(MONTH(@CDate)  AS VARCHAR(2))),2)
									,'-'
									,RIGHT(CONCAT('000000',CAST(COUNT(1)+1  AS VARCHAR(6))),6))
	FROM	dbo.[SubOrderFlow]	SOF
	INNER JOIN dbo.[ProductSubProcess]	PSP
		ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
	WHERE	YEAR(SOF.DateSubOrder)	=	YEAR(@CDate)
		AND	MONTH(SOF.DateSubOrder)	=	MONTH(@CDate)
		AND	PSP.LocationOrder	=	@ParamILocationOrder

	RETURN	@VResult;
END;  
GO
/****** Object:  Table [dbo].[BuySupply]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuySupply](
	[IdBuySupply] [uniqueidentifier] NOT NULL,
	[IdSuppliersBySupply] [uniqueidentifier] NULL,
	[UnitPrice] [numeric](9, 2) NULL,
	[Quantity] [numeric](9, 2) NULL,
	[TotalPrice] [numeric](9, 2) NULL,
	[DateBuySupply] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IdDistrict] [int] NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IdDepartment] [int] NOT NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[IdDistrict] [int] NOT NULL,
	[District] [varchar](50) NULL,
	[IdProvince] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterTable]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterTable](
	[IdMasterTable] [char](5) NOT NULL,
	[IdMasterTableParent] [char](5) NULL,
	[Name] [varchar](100) NULL,
	[Order] [int] NULL,
	[Value] [varchar](max) NULL,
	[AdditionalOne] [varchar](100) NULL,
	[AdditionalTwo] [varchar](100) NULL,
	[AdditionalThree] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_MasterTable] PRIMARY KEY CLUSTERED 
(
	[IdMasterTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [char](5) NOT NULL,
	[IdMenuParent] [char](5) NULL,
	[MenuName] [varchar](100) NOT NULL,
	[UrlName] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProfile]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProfile](
	[IdMenuProfile] [uniqueidentifier] NOT NULL,
	[IdMenu] [char](5) NOT NULL,
	[IdProfile] [char](5) NOT NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [uniqueidentifier] NOT NULL,
	[DateOrder] [date] NOT NULL,
	[CodeOrder] [varchar](50) NOT NULL,
	[Total] [numeric](9, 2) NOT NULL,
	[StatusOrder] [char](5) NULL,
	[LocationOrder] [char](5) NULL,
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[RecordStatus] [char](1) NULL,
	[BusinessNumber] [varchar](11) NULL,
	[BusinessName] [varchar](200) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[IdOrderDetail] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Description] [varchar](3000) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[IdOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFlow](
	[IdOrderFlow] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[NroOrder] [int] NULL,
	[LocationOrder] [char](5) NULL,
	[Answer] [char](5) NULL,
	[DateOrderFlow] [datetime] NOT NULL,
	[FlagInProcess] [bit] NULL,
	[FlagActive] [bit] NULL,
 CONSTRAINT [PK_OrderFlow] PRIMARY KEY CLUSTERED 
(
	[IdOrderFlow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[IdOrderStatus] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[Location] [char](5) NULL,
	[Status] [char](5) NOT NULL,
	[DateOrderStatus] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[PathFile] [varchar](max) NULL,
	[RecordStatus] [char](1) NULL,
	[PriceUnit] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSubProcess]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSubProcess](
	[IdProductSubProcess] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[LocationOrder] [char](5) NOT NULL,
	[Description] [varchar](200) NULL,
	[OrderSubProcess] [int] NULL,
 CONSTRAINT [PK_ProductSubProcess] PRIMARY KEY CLUSTERED 
(
	[IdProductSubProcess] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[IdProvince] [int] NOT NULL,
	[Province] [varchar](50) NULL,
	[IdDepartment] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvince] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubOrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubOrderFlow](
	[IdSubOrderFlow] [uniqueidentifier] NOT NULL,
	[IdProductSubProcess] [uniqueidentifier] NOT NULL,
	[IdOrderFlow] [uniqueidentifier] NOT NULL,
	[StatusSubOrderMT] [char](5) NULL,
	[CodeSubOrder] [varchar](25) NULL,
	[DateSubOrder] [date] NULL,
	[DateEndSubOrder] [date] NULL,
	[QuantityDecrease] [numeric](9, 2) NULL,
 CONSTRAINT [PK_SubOrderFlow] PRIMARY KEY CLUSTERED 
(
	[IdSubOrderFlow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubOrderFlowDetail]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubOrderFlowDetail](
	[IdSubOrderFlowDetail] [uniqueidentifier] NOT NULL,
	[IdSubOrderFlow] [uniqueidentifier] NOT NULL,
	[IdSupply] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[QuantityReturn] [numeric](9, 2) NULL,
	[MTLocation] [char](5) NULL,
 CONSTRAINT [PK_SubOrderFlowDetail] PRIMARY KEY CLUSTERED 
(
	[IdSubOrderFlowDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliersBySupply]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliersBySupply](
	[IdSuppliersBySupply] [uniqueidentifier] NOT NULL,
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[IdSupply] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SuppliersBySupplie] PRIMARY KEY CLUSTERED 
(
	[IdSuppliersBySupply] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliesByProduct]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliesByProduct](
	[IdSuppliesByProduct] [uniqueidentifier] NOT NULL,
	[IdSupply] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[MTLocation] [char](5) NULL,
	[Quantity] [numeric](9, 2) NOT NULL,
	[MTMeasureUnit] [char](5) NULL,
 CONSTRAINT [PK_SuppliesByProduct] PRIMARY KEY CLUSTERED 
(
	[IdSuppliesByProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[IdSupply] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[Stock] [numeric](9, 2) NULL,
	[MeasureUnit] [char](5) NULL,
	[MinimumStock] [numeric](9, 2) NULL,
	[DateUpdate] [date] NULL,
	[CodeSupply] [char](4) NULL,
	[PriceUnit] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Supplie] PRIMARY KEY CLUSTERED 
(
	[IdSupply] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[IdProfile] [char](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BuySupply] ([IdBuySupply], [IdSuppliersBySupply], [UnitPrice], [Quantity], [TotalPrice], [DateBuySupply]) VALUES (N'580f3ba0-d51e-442b-adb2-079e7e9fa2e2', N'd95791c0-6e45-4638-9ca4-c169a67ab56b', CAST(60.50 AS Numeric(9, 2)), CAST(50.00 AS Numeric(9, 2)), CAST(3025.00 AS Numeric(9, 2)), CAST(N'2021-10-02' AS Date))
INSERT [dbo].[BuySupply] ([IdBuySupply], [IdSuppliersBySupply], [UnitPrice], [Quantity], [TotalPrice], [DateBuySupply]) VALUES (N'2e7936ec-d8b9-4b90-b30b-a9eefa33f06f', N'1668e4a0-1aec-4a81-867a-0fca46222971', CAST(1.00 AS Numeric(9, 2)), CAST(100.00 AS Numeric(9, 2)), CAST(100.00 AS Numeric(9, 2)), CAST(N'2021-10-07' AS Date))
INSERT [dbo].[BuySupply] ([IdBuySupply], [IdSuppliersBySupply], [UnitPrice], [Quantity], [TotalPrice], [DateBuySupply]) VALUES (N'e08cb672-5380-41bf-b258-e392f9587942', N'da21df1a-dd54-4dd5-83d0-4e1cea489920', CAST(1.00 AS Numeric(9, 2)), CAST(100.00 AS Numeric(9, 2)), CAST(100.00 AS Numeric(9, 2)), CAST(N'2021-10-07' AS Date))
GO
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (2, N'ANCASH')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (3, N'APURIMAC')
GO
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (3, N'BALSAS', 1)
GO
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00100', NULL, N'Estado Pedido', NULL, NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00101', N'00100', N'Pendiente', 1, N'Pendiente', NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00102', N'00100', N'En Proceso', 2, N'En Proceso', NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[Menu] ([IdMenu], [IdMenuParent], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME001', NULL, N'Area de Ventas', N'ventas', N'A')
INSERT [dbo].[Menu] ([IdMenu], [IdMenuParent], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME002', NULL, N'Area de Almacen', N'almacen', N'A')
INSERT [dbo].[Menu] ([IdMenu], [IdMenuParent], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME003', NULL, N'Area de Corte', N'corte', N'A')
GO
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'1c515671-b558-4f28-b836-642a309ee437', N'ME001', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c7d60203-574d-4a51-8616-4eb0997f664c', N'ME002', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c5eaed28-0e31-4f33-bc73-7dcca84b8460', N'ME003', N'00308', N'A')
GO
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'Modelo Bolsillo Cruzado', N'../../../assets/media/Modelo_Bolsillo_Cruzado.jpeg', N'A', CAST(35.0000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'd361e525-deb5-4666-9dbd-1acb12a543af', N'Modelo Bolsillo Tipo Ojal', N'../../../assets/media/Modelo_Bolsillo_Tipo_Ojal.jpeg', N'A', CAST(30.0000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'76d5f7f6-2bd4-4718-9bef-2f21a381cb9f', N'Modelo Con Bolsillo Trasero', N'../../../assets/media/Modelo_Con_Bolsillo_Trasero.jpeg', N'A', CAST(40.0000 AS Numeric(18, 4)))
GO
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'86eee1a7-cf27-4a5a-891a-03ff055d1cf8', N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'00204', N'Lavado de prendas de color negro.', 3)
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'4fae72be-ec60-438d-beab-065fff3b73ec', N'82451157-5164-4dfb-8652-581a66595a9b', N'00204', N'Lavado de prendas de color negro.', 3)
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'797d8dc6-9886-4ef2-8f10-06d810e79740', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00202', N'Corte de tela para elaboración de prenda.', 1)
GO
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (3, N'BONGARA', 1)
GO
INSERT [dbo].[SubOrderFlowDetail] ([IdSubOrderFlowDetail], [IdSubOrderFlow], [IdSupply], [IdProduct], [QuantityReturn], [MTLocation]) VALUES (N'42bd3817-912c-4362-915e-00fb96b9b3cd', N'd1a4ab78-8483-4d59-8377-744d48bea8ba', N'db8b635a-9715-495a-9267-c9db156af748', N'd361e525-deb5-4666-9dbd-1acb12a543af', CAST(0.00 AS Numeric(9, 2)), N'00203')
INSERT [dbo].[SubOrderFlowDetail] ([IdSubOrderFlowDetail], [IdSubOrderFlow], [IdSupply], [IdProduct], [QuantityReturn], [MTLocation]) VALUES (N'60d528bf-1eb5-40cd-b334-01b072c2d3da', N'e9433b54-fd86-4491-8545-a0829b3a7f9f', N'd3347ca7-7be3-4db1-864e-63e98c256996', N'd361e525-deb5-4666-9dbd-1acb12a543af', CAST(0.00 AS Numeric(9, 2)), N'00202')
INSERT [dbo].[SubOrderFlowDetail] ([IdSubOrderFlowDetail], [IdSubOrderFlow], [IdSupply], [IdProduct], [QuantityReturn], [MTLocation]) VALUES (N'24851b24-db70-40a4-ae47-02db50af826e', N'cd5d0119-c210-4dcd-8208-f1b7e45593d7', N'91ecb8b8-7a39-4da2-a04a-dc53514c6ad3', N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', CAST(0.00 AS Numeric(9, 2)), N'00205')
GO
INSERT [dbo].[Supplier] ([IdSupplier], [Name], [Phone], [Email], [RecordStatus]) VALUES (N'0744a216-27ee-4085-9269-529a29b4b8f3', N'Textiles Maguiña S.A.C.', N'965412365', N'contacto@texmag.com', N'A')
INSERT [dbo].[Supplier] ([IdSupplier], [Name], [Phone], [Email], [RecordStatus]) VALUES (N'e0e6f822-11c3-43d5-81df-d37866fc73b0', N'Juan Perez S.A.C.', N'987556236', N'ventas@juanperezsac.com', N'A')
GO
INSERT [dbo].[SuppliersBySupply] ([IdSuppliersBySupply], [IdSupplier], [IdSupply]) VALUES (N'258b773f-86e4-435a-9d1f-04edeb05d579', N'0744a216-27ee-4085-9269-529a29b4b8f3', N'28f68df7-2e90-406d-acf6-5a1c4575f5d5')
INSERT [dbo].[SuppliersBySupply] ([IdSuppliersBySupply], [IdSupplier], [IdSupply]) VALUES (N'c48a53f2-fb58-4572-bdb0-065a066e6727', N'0744a216-27ee-4085-9269-529a29b4b8f3', N'5f70745e-f005-4f10-9a47-be4f1e6cab74')
INSERT [dbo].[SuppliersBySupply] ([IdSuppliersBySupply], [IdSupplier], [IdSupply]) VALUES (N'4e6386ce-2d1a-4257-a00f-0e4daeb40ec8', N'0744a216-27ee-4085-9269-529a29b4b8f3', N'd6b9a453-ba62-443a-8fe1-955eb0332b44')
GO
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity], [MTMeasureUnit]) VALUES (N'0670f8f6-dd4b-4794-896b-000927472573', N'fd57b3e5-a245-491f-bb9a-96921c063b17', N'3754b17a-7c4f-4a9a-999a-871b700c5272', N'00203', CAST(11.00 AS Numeric(9, 2)), N'00501')
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity], [MTMeasureUnit]) VALUES (N'6faa952c-f37e-4289-816a-0355974f215e', N'40180ca4-5626-4033-826c-e444a0bebc58', N'f2f1260d-8b9a-4731-8df2-bfa4f697aaf6', N'00205', CAST(12.00 AS Numeric(9, 2)), N'00501')
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity], [MTMeasureUnit]) VALUES (N'418b4d8d-aa87-4d09-ac85-03a735e6c000', N'4cad87ac-7560-4fb0-b8fe-58f014dd00a2', N'3754b17a-7c4f-4a9a-999a-871b700c5272', N'00205', CAST(12.00 AS Numeric(9, 2)), N'00501')
GO
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock], [DateUpdate], [CodeSupply], [PriceUnit]) VALUES (N'580b0875-f477-4686-8736-08e807c737a2', N'cinta santida celeste', N'A', CAST(999999.00 AS Numeric(9, 2)), N'00501', CAST(25.00 AS Numeric(9, 2)), CAST(N'2021-10-02' AS Date), N'0001', CAST(5.0000 AS Numeric(18, 4)))
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock], [DateUpdate], [CodeSupply], [PriceUnit]) VALUES (N'8e8bcb55-13c9-437b-819c-0a99b94f7fc1', N'placas c ', N'A', CAST(999999.00 AS Numeric(9, 2)), N'00502', CAST(25.00 AS Numeric(9, 2)), CAST(N'2021-10-23' AS Date), N'0002', CAST(5.0000 AS Numeric(18, 4)))
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock], [DateUpdate], [CodeSupply], [PriceUnit]) VALUES (N'6f472791-ceb5-4497-951b-1377cb3551a0', N'maquina de corte', N'A', CAST(999999.00 AS Numeric(9, 2)), N'00502', CAST(25.00 AS Numeric(9, 2)), CAST(N'2021-10-02' AS Date), N'0003', CAST(5.0000 AS Numeric(18, 4)))
GO
INSERT [dbo].[User] ([IdUser], [Username], [Password], [RecordStatus], [IdProfile]) VALUES (N'bc0bc688-d46e-4db2-ab4b-b2172ad526f3', N'admin', N'mO+Qpha+NQvkImJhOUfGbQ==', N'A', N'00308')
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (NULL) FOR [Department]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [District]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [IdProvince]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [IdDepartment]
GO
ALTER TABLE [dbo].[BuySupply]  WITH CHECK ADD  CONSTRAINT [FK_BuySupply_SuppliersBySupply] FOREIGN KEY([IdSuppliersBySupply])
REFERENCES [dbo].[SuppliersBySupply] ([IdSuppliersBySupply])
GO
ALTER TABLE [dbo].[BuySupply] CHECK CONSTRAINT [FK_BuySupply_SuppliersBySupply]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([IdCustomer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_Order]
GO
ALTER TABLE [dbo].[ProductSubProcess]  WITH CHECK ADD  CONSTRAINT [FK_ProductSubProcess_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[ProductSubProcess] CHECK CONSTRAINT [FK_ProductSubProcess_Product]
GO
ALTER TABLE [dbo].[SubOrderFlow]  WITH CHECK ADD  CONSTRAINT [FK_SubOrderFlow_OrderFlow] FOREIGN KEY([IdOrderFlow])
REFERENCES [dbo].[OrderFlow] ([IdOrderFlow])
GO
ALTER TABLE [dbo].[SubOrderFlow] CHECK CONSTRAINT [FK_SubOrderFlow_OrderFlow]
GO
ALTER TABLE [dbo].[SubOrderFlow]  WITH CHECK ADD  CONSTRAINT [FK_SubOrderFlow_ProductSubProcess] FOREIGN KEY([IdProductSubProcess])
REFERENCES [dbo].[ProductSubProcess] ([IdProductSubProcess])
GO
ALTER TABLE [dbo].[SubOrderFlow] CHECK CONSTRAINT [FK_SubOrderFlow_ProductSubProcess]
GO
ALTER TABLE [dbo].[SuppliersBySupply]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplie] FOREIGN KEY([IdSupply])
REFERENCES [dbo].[Supply] ([IdSupply])
GO
ALTER TABLE [dbo].[SuppliersBySupply] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplie]
GO
ALTER TABLE [dbo].[SuppliersBySupply]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[SuppliersBySupply] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplier]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Product]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Supplie] FOREIGN KEY([IdSupply])
REFERENCES [dbo].[Supply] ([IdSupply])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Supplie]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_OrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--DESCRIPTION: Permite registrar el flujo de la orden.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Generate_OrderFlow] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Generate_OrderFlow]
	@ParamIIdOrder		UNIQUEIDENTIFIER
AS
BEGIN
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,1
			,'00201'
			,'00601'
			,SYSDATETIME()
			,1
			,1
		)

		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,2
			,'00202'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,3
			,'00203'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)

		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,4
			,'00204'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,5
			,'00205'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
	
	
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,6
			,'00206'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)

		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,7
			,'00207'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
		
		INSERT INTO OrderStatus
		(	IdOrderStatus
			,IdOrder
			,Location
			,Status
			,DateOrderStatus
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,'00201'
			,'00601'
			,SYSDATETIME()
		)

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_SubOrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--DESCRIPTION: Permite registrar el flujo de las subordenes de la orden en cada étapa del subproceso del producto.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Generate_SubOrderFlow] '8B433CFA-F926-4835-A08E-294EB29A698C'
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Generate_SubOrderFlow]
	@ParamIIdOrder		UNIQUEIDENTIFIER
AS
BEGIN

	DECLARE	@CIdStatusCreatedMT	CHAR(5)	=	'00104';
	DECLARE	@CIdStatusPendingMT	CHAR(5)	=	'00101';
	DECLARE	@CIdCutAreaMT		CHAR(5)	=	'00202';
	DECLARE	@VIdProductSubProcess	UNIQUEIDENTIFIER, @VIdOrderFlow	UNIQUEIDENTIFIER, @VIdSubOrderFlow UNIQUEIDENTIFIER;
	DECLARE	@VIdLocationOrderMT	CHAR(5);

	DECLARE	InsertCursor	CURSOR FOR
		SELECT	PSP.IdProductSubProcess
				,[OF].IdOrderFlow
				,PSP.LocationOrder
		FROM	ProductSubProcess	PSP
		INNER JOIN	OrderDetail	OD
			ON	OD.IdProduct	=	PSP.IdProduct
		INNER JOIN	Product	P
			ON	OD.IdProduct	=	P.IdProduct
		INNER JOIN	[Order]	O
			ON	OD.IdOrder	=	O.IdOrder
		INNER JOIN	OrderFlow	[OF]
			ON	O.IdOrder	=	[OF].IdOrder
			AND	[OF].LocationOrder	=	PSP.LocationOrder
		WHERE	O.IdOrder	=	@ParamIIdOrder

	OPEN InsertCursor
	FETCH NEXT FROM	InsertCursor	INTO	
		@VIdProductSubProcess
		,@VIdOrderFlow
		,@VIdLocationOrderMT
	WHILE	@@FETCH_STATUS = 0
	BEGIN
		
		SELECT	@VIdSubOrderFlow = NEWID();

		INSERT INTO	SubOrderFlow
			(IdSubOrderFlow, IdProductSubProcess, IdOrderFlow, StatusSubOrderMT, CodeSubOrder, DateSubOrder)
		SELECT	@VIdSubOrderFlow
				,@VIdProductSubProcess
				,@VIdOrderFlow
				,CASE	@VIdLocationOrderMT
					WHEN	@CIdCutAreaMT	THEN	@CIdStatusPendingMT
					ELSE	@CIdStatusCreatedMT
				END
				,[dbo].[FN_GetCodeSubOrder] (@VIdLocationOrderMT)
				,GETDATE();

		INSERT INTO SubOrderFlowDetail
			(IdSubOrderFlowDetail, IdSubOrderFlow, IdSupply, IdProduct, QuantityReturn,MTLocation)
		SELECT	NEWID()
				,@VIdSubOrderFlow
				,SBP.IdSupply
				,SBP.IdProduct
				,0
				,SBP.MTLocation
		FROM	ProductSubProcess	PSP
		INNER JOIN	SuppliesByProduct	SBP
			ON	PSP.IdProduct	=	SBP.IdProduct
		WHERE PSP.IdProductSubProcess	=	@VIdProductSubProcess;



		FETCH NEXT FROM	InsertCursor	INTO	
			@VIdProductSubProcess
			,@VIdOrderFlow
			,@VIdLocationOrderMT
	END
	CLOSE InsertCursor
	DEALLOCATE InsertCursor
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_OrderByCodeOrder]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para obtener Order y su estado a partir del CodeOrder
--Change:		-
--Example:		[dbo].[Usp_Get_OrderByCodeOrder]	'202109-000001'
--================================================= 
CREATE PROC [dbo].[Usp_Get_OrderByCodeOrder]
	@ParamICodeOrder	VARCHAR(50)
AS
BEGIN

	DECLARE	@CIdMasterTableParentLocation	CHAR(5)	=	'00200'

	SELECT	O.IdOrder
			,O.DateOrder
			,O.CodeOrder
			,O.[Total]
			,O.StatusOrder
			,O.IdCustomer
			,O.RecordStatus
			,ISNULL(O.BusinessNumber,'') BusinessNumber
			,ISNULL(O.BusinessName,'') BusinessName
			,O.LocationOrder
	FROM	[Order] O
	WHERE	O.CodeOrder	=	@ParamICodeOrder

	SELECT	MT.[Name]			AS	DescriptionStatus
			,[OF].FlagInProcess	AS	FlagStatus
			,[OF].NroOrder		AS	OrderStatus
			,MT.IdMasterTable
			,[OF].Answer
			,CASE [OF].FlagInProcess WHEN 1 THEN  FORMAT([OF].DateOrderFlow,'dd/MM/yyyy') 
			ELSE ''
			END AS	DateOrderFlowSTtring
	FROM	MasterTable	MT
	LEFT JOIN	OrderFlow	[OF]
		ON	MT.IdMasterTable	=	[OF].LocationOrder
	LEFT JOIN	[Order]	O
		ON	[OF].IdOrder	=	O.IdOrder
	WHERE	O.CodeOrder	=	@ParamICodeOrder
	ORDER BY [OF].NroOrder ASC


	SELECT	C.IdCustomer
			,FirstName
			,LastName
			,DocumentNumber
			,PhoneNumber
			,Email
			,C.IdDistrict 
			,D.District
			,D.IdProvince 
			,P.Province
			,DE.IdDepartment 
			,DE.Department
			,C.RecordStatus
	FROM Customer	C
	INNER JOIN	[Order] O
	ON C.IdCustomer	=	O.IdCustomer
	INNER JOIN District	D
	ON D.IdDistrict	=	C.IdDistrict
	INNER JOIN Province	P
	ON P.IdProvince	=	D.IdProvince
	INNER JOIN Department	DE
	ON P.IdDepartment	=	DE.IdDepartment
	WHERE	O.CodeOrder	=	@ParamICodeOrder

	SELECT	OD.IdOrderDetail
			,O.IdOrder
			,OD.IdProduct
			,P.[Name]	AS	[Description]
			,P.PriceUnit	AS	UnitPrice
			,P.PathFile		AS	PathImageProduct
			,OD.Quantity
			,round(P.PriceUnit * OD.Quantity,2)	AS	SubTotal
			,OD.RecordStatus
	FROM	OrderDetail	OD	
	INNER JOIN	[Order] O
		ON	OD.IdOrder	=	O.[IdOrder]
	INNER JOIN	[Product]	P
		ON	OD.IdProduct	=	P.IdProduct
	WHERE	O.CodeOrder	=	@ParamICodeOrder

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_OrderByIdOrder]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para obtener Order y su estado a partir del IdOrder
--Change:		-
--Example:		[dbo].[Usp_Get_OrderByIdOrder]	''
--================================================= 
CREATE PROC [dbo].[Usp_Get_OrderByIdOrder]
	@ParamIIdOrder	UNIQUEIDENTIFIER
AS
BEGIN
	
	SELECT	OD.IdOrderDetail
			,O.IdOrder
			,OD.IdProduct
			,P.[Name]	AS	[Description]
			,P.PriceUnit	AS	UnitPrice
			,P.PathFile		AS	PathImageProduct
			,OD.Quantity
			,ROUND(P.PriceUnit * OD.Quantity,2)	AS	SubTotal
			,OD.RecordStatus
	FROM	OrderDetail	OD	
	INNER JOIN	[Order] O
		ON	OD.IdOrder	=	O.[IdOrder]
	INNER JOIN	[Product]	P
		ON	OD.IdProduct	=	P.IdProduct
	WHERE	O.IdOrder	=	@ParamIIdOrder

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Ins_BuySupply]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para registrar el ingreso de insumos.
--Change:		-
--Example:		[dbo].[Usp_Ins_BuySupply]	
--================================================= 
CREATE PROC [dbo].[Usp_Ins_BuySupply]
	@ParamIIdSupply		UNIQUEIDENTIFIER
	,@ParamIIdSupplier	UNIQUEIDENTIFIER
	,@ParamIUnitPrice	NUMERIC(9,2)
	,@ParamIQuantity	NUMERIC(9,2)
	,@ParamITotalPrice	NUMERIC(9,2)
AS
BEGIN

	DECLARE	@VIdSupplierBySupply	UNIQUEIDENTIFIER;

	SELECT	@VIdSupplierBySupply	=	IdSuppliersBySupply
	FROM	SuppliersBySupply	SBS
	WHERE	SBS.IdSupply	=	@ParamIIdSupply
		AND	SBS.IdSupplier	=	@ParamIIdSupplier;

	INSERT INTO	BuySupply	(	IdBuySupply
								,IdSuppliersBySupply
								,UnitPrice
								,Quantity
								,TotalPrice
								,DateBuySupply
							)
	VALUES					(	NEWID()
								,@VIdSupplierBySupply
								,@ParamIUnitPrice
								,@ParamIQuantity
								,@ParamITotalPrice
								,GETDATE()
							);
	
	UPDATE	Supply
	SET	Stock	=	Stock + @ParamIQuantity
	WHERE	IdSupply	=	@ParamIIdSupply;

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Order]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--Description:	SP para listar Order
--Change:		-
--Example:		[dbo].[Usp_List_Order]
--================================================= 
CREATE PROC [dbo].[Usp_List_Order]
AS
BEGIN

	SELECT	O.IdOrder
			,O.DateOrder
			,CodeOrder
			,C.[FirstName]
			,C.[LastName]
			,C.DocumentNumber
			,C.PhoneNumber
			,O.StatusOrder
	FROM	[Order] O
	INNER JOIN	Customer	C
	ON	C.IdCustomer	=	O.IdCustomer
	INNER JOIN MasterTable	M
	ON	M.IdMasterTable	=	O.StatusOrder



	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_OrderByLocation]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--Description:	SP para listar Order
--Change:		-
--Example:		[dbo].[Usp_List_OrderByLocation] '00206'
--================================================= 
CREATE PROC [dbo].[Usp_List_OrderByLocation]
@ParamILocationOrder	CHAR(5)
AS
BEGIN

	SELECT	O.IdOrder
			,O.DateOrder
			,CodeOrder
			,C.[FirstName]
			,C.[LastName]
			,C.DocumentNumber
			,C.PhoneNumber
			,C.Email
			,O.LocationOrder
			,M2.[Value]	AS	LocationOrderName
			,O.StatusOrder
			,M.[Value]	AS	StatusOrderName
			,FORMAT(O.DateOrder,'dd/MM/yyyy') DateOrderString
			,M3.[Value]	AS	AnswerName
			,M3.IdMasterTable	AS	Answer
	FROM	[Order] O
	INNER JOIN	Customer	C
	ON	C.IdCustomer	=	O.IdCustomer
	INNER JOIN MasterTable	M
	ON	M.IdMasterTable	=	O.StatusOrder
	INNER JOIN MasterTable	M2
	ON	M2.IdMasterTable	=	O.LocationOrder
	INNER JOIN OrderFlow	OFL
	ON	OFL.LocationOrder	=   @ParamILocationOrder
	AND	OFL.FlagInProcess	=1
	AND	OFL.IdOrder			=	O.IdOrder
	INNER JOIN MasterTable	M3
	ON	M3.IdMasterTable	=	Answer
--	WHERE O.LocationOrder	=	@ParamILocationOrder
	ORDER BY CodeOrder

	IF OBJECT_ID(N'tempdb..#TMP_QUANTITY') IS NOT NULL
	BEGIN
	DROP TABLE #TMP_QUANTITY
	END

	SELECT	IdMasterTable
			,[Name]
			,0	Quantity 
			,0 Selected
	INTO	#TMP_QUANTITY
	FROM	MasterTable
	WHERE	IdMasterTableParent	=	'00600'
	
	DECLARE @MasterRespuestas	CHAR(5)	='00600',
			@MPendiente			CHAR(5)	='00601',
			@MAprobado			CHAR(5)	='00602',
			@MRechazado			CHAR(5)	='00603',
			@MEnProceso			CHAR(5)	='00604',
			@MCulminado			CHAR(5)	='00605',
			@MEntregado			CHAR(5)	='00606'

	DECLARE @IPendiente	INT,
			@IAprobado	INT,
			@IRechazado	INT,
			@IEnProceso	INT,
			@ICulminado	INT,
			@IEntregado	INT


	SELECT	@IPendiente	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		FlagActive		=	1
	AND		Answer			=	@MPendiente
	--AND		Answer			=	@MAprobado

	SELECT	@IAprobado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MAprobado

	SELECT	@IRechazado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MRechazado

	SELECT	@IEnProceso	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MEnProceso

	SELECT	@ICulminado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MCulminado

	SELECT	@IEntregado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MEntregado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IPendiente
	WHERE	IdMasterTable	=	@MPendiente

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IAprobado
	WHERE	IdMasterTable	=	@MAprobado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IRechazado
	WHERE	IdMasterTable	=	@MRechazado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IEnProceso
	WHERE	IdMasterTable	=	@MEnProceso

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@ICulminado
	WHERE	IdMasterTable	=	@MCulminado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IEntregado
	WHERE	IdMasterTable	=	@MEntregado
	

	INSERT INTO	#TMP_QUANTITY
	VALUES (0,'Total',0,0)

	UPDATE #TMP_QUANTITY
	SET Quantity =( 
				SELECT COUNT(1) FROM [Order] ORD
					INNER JOIN OrderFlow	OFL
					ON	OFL.LocationOrder	=   @ParamILocationOrder
					AND ORD.IdOrder	=	OFL.IdOrder
					AND	OFL.FlagInProcess	=1
				/*WHERE LocationOrder	=	@ParamILocationOrder */	)
	WHERE IdMasterTable = 0
	

	IF @ParamILocationOrder	=	'00201'
	BEGIN
		DELETE #TMP_QUANTITY
		WHERE IdMasterTable IN	(00604,00605,00606)		
	END
	ELSE IF @ParamILocationOrder	=	'00206'
	BEGIN
		DELETE #TMP_QUANTITY
		WHERE IdMasterTable IN	(00602,00603,00604,00605)		
	END

	SELECT * FROM #TMP_QUANTITY order by IdMasterTable asc
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Product]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los productos que están activos en el sistema.
--Change:		-
--Example:		[dbo].[Usp_List_Product]
--================================================= 
CREATE PROC [dbo].[Usp_List_Product]
AS
BEGIN

	DECLARE	@CActiveStatus	CHAR(1)	=	'A';

	SELECT	IdProduct
			,[Name]
			,ISNULL(PathFile,'') PathFile
			,RecordStatus
			,ISNULL(PriceUnit,0) PriceUnit
			,0 Quantity
	FROM	Product
	WHERE	RecordStatus	=	@CActiveStatus
	ORDER BY [Name] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_SubOrderByLocation]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--DESCRIPTION: Permite obtener el listado de subordenes a partir del Location.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_List_SubOrderByLocation] '00202'
--=================================================
CREATE PROCEDURE	[dbo].[Usp_List_SubOrderByLocation]
	@ParamIIdLocation	CHAR(5)
AS
BEGIN

	DECLARE	@CFlagTrue	BIT	=	1;
	DECLARE	@CIdStatusPendingMT	CHAR(5)	=	'00101';
	DECLARE	@CIdStatusCreateMT	CHAR(5)	=	'00104';
	DECLARE	@CLocationOrderVentas	CHAR(5)	=	'00201';

	SELECT DISTINCT	O.IdOrder
			,O.CodeOrder
			,SOF.IdSubOrderFlow
			,SOF.CodeSubOrder
			,cast(OD.Quantity as int)  Quantity
			,SOF.StatusSubOrderMT
			,MT.[Name] AS StatusSubOrderName
			,FORMAT(SOF.DateSubOrder,'dd/MM/yyyy') DateSubOrder			
			,ISNULL(FORMAT(SOF.DateEndSubOrder,'dd/MM/yyyy'),'') DateEndSubOrder	
			,PSP.IdProduct
			,CAST(ISNULL(SOF.QuantityDecrease,'0') AS INT)  AS Merma
			,OD.IdOrderDetail
	FROM	ProductSubProcess	PSP
	INNER JOIN	OrderDetail	OD
		ON	OD.IdProduct	=	PSP.IdProduct
	INNER JOIN	Product	P
		ON	OD.IdProduct	=	P.IdProduct
	INNER JOIN	[Order]	O
		ON	OD.IdOrder	=	O.IdOrder
	INNER JOIN	OrderFlow	[OF]
		ON	O.IdOrder	=	[OF].IdOrder
		AND	[OF].LocationOrder	=	PSP.LocationOrder
	INNER JOIN	SubOrderFlow	SOF
		ON	[OF].IdOrderFlow	=	SOF.IdOrderFlow
		AND	SOF.IdProductSubProcess	= PSP.IdProductSubProcess
	INNER JOIN	MasterTable	MT
		ON	SOF.StatusSubOrderMT	=	MT.IdMasterTable
	WHERE	PSP.LocationOrder	=	@ParamIIdLocation
			AND	SOF.StatusSubOrderMT	!=	@CIdStatusCreateMT
		--AND	[OF].FlagInProcess	=	@CFlagTrue
		AND O.LocationOrder != @CLocationOrderVentas
	ORDER BY O.CodeOrder, SOF.CodeSubOrder

	SELECT	SP.IdSuppliesByProduct
			,SP.IdProduct
			,SU.IdSupply
			,SU.[Name] AS 'NameSupply'
			,ISNULL(SF.[QuantityReturn],0) QuantityReturn
			,SF.[IdSubOrderFlowDetail]
			,SF.[IdSubOrderFlow]
	FROM		SuppliesByProduct SP 
	INNER JOIN	Supply	SU
	ON SP.IdSupply	=	SU.IdSupply
	INNER JOIN [SubOrderFlowDetail] SF
	ON SF.IdSupply		=	SU.IdSupply
	AND SF.IdProduct	=	SP.IdProduct
	AND SF.MTLocation	=	SP.MTLocation
	WHERE	SP.MTLocation =@ParamIIdLocation
			

	IF OBJECT_ID(N'tempdb..#TMP_QUANTITY') IS NOT NULL
	BEGIN
	DROP TABLE #TMP_QUANTITY
	END

	SELECT	IdMasterTable
			,[Name]
			,0	Quantity 
			,0 Selected
	INTO	#TMP_QUANTITY
	FROM	MasterTable
	WHERE	IdMasterTableParent	=	'00100'
	AND		IdMasterTable != @CIdStatusCreateMT
	
	DECLARE @MasterRespuestas	CHAR(5)	='00100',
			@MPendiente			CHAR(5)	='00101',
			@MEnProceso			CHAR(5)	='00102',
			@MTerminado			CHAR(5)	='00103'

	DECLARE @IPendiente	INT,
			@IEnProceso	INT,
			@ITerminado	INT


	SELECT	@IPendiente	=	COUNT(1)  
	FROM	SubOrderFlow SB
	INNER JOIN ProductSubProcess PS
	ON SB.IdProductSubProcess	=	PS.IdProductSubProcess	
	INNER JOIN	OrderFlow	[OFL]
	ON	SB.IdOrderFlow	=	[OFL].IdOrderFlow
	AND	OFL.FlagInProcess	=	@CFlagTrue
	WHERE	PS.LocationOrder	=	@ParamIIdLocation
	AND		SB.StatusSubOrderMT			=	@MPendiente
	

	SELECT	@IEnProceso	=	COUNT(1)  
	FROM	SubOrderFlow SB
	INNER JOIN ProductSubProcess PS
	ON SB.IdProductSubProcess	=	PS.IdProductSubProcess	
	WHERE	LocationOrder	=	@ParamIIdLocation
	AND		SB.StatusSubOrderMT			=	@MEnProceso

	SELECT	@ITerminado	=	COUNT(1)  
	FROM	SubOrderFlow SB
	INNER JOIN ProductSubProcess PS
	ON SB.IdProductSubProcess	=	PS.IdProductSubProcess	
	WHERE	LocationOrder	=	@ParamIIdLocation
	AND		SB.StatusSubOrderMT			=	@MTerminado



	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IPendiente
	WHERE	IdMasterTable	=	@MPendiente

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IEnProceso
	WHERE	IdMasterTable	=	@MEnProceso

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@ITerminado
	WHERE	IdMasterTable	=	@MTerminado

	INSERT INTO	#TMP_QUANTITY
	VALUES (0,'Total',0,0)

	UPDATE #TMP_QUANTITY
	SET Quantity =	( 
						SELECT COUNT(1) 
						FROM SubOrderFlow SB 
						INNER JOIN ProductSubProcess PS
						ON SB.IdProductSubProcess	=	PS.IdProductSubProcess	
						INNER JOIN	OrderFlow	[OFL]
						ON	SB.IdOrderFlow	=	[OFL].IdOrderFlow
						AND	OFL.FlagInProcess	=	@CFlagTrue
						WHERE	PS.LocationOrder	=	@ParamIIdLocation	
					)
	WHERE IdMasterTable = 0
	
	SELECT * FROM #TMP_QUANTITY order by IdMasterTable asc
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_SuppliersByIdSupply]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los proveedores por insumo.
--Change:		-
--Example:		[dbo].[Usp_List_SuppliersByIdSupply]	'580B0875-F477-4686-8736-08E807C737A2'
--================================================= 
CREATE PROC [dbo].[Usp_List_SuppliersByIdSupply]
	@ParamIIdSupply	VARCHAR(50)
AS
BEGIN

	DECLARE	@CstatusActive	CHAR(1)	=	'A';

	SELECT	S.IdSupplier
			,S.[Name]
			,S.Phone
			,S.Email
	FROM	Supplier	S
	INNER JOIN	SuppliersBySupply	SBS
		ON	S.IdSupplier	=	SBS.IdSupplier
	WHERE	SBS.IdSupply	=	@ParamIIdSupply
		AND	S.RecordStatus	=	@CStatusActive;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Supplies]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los insumos que están activos en el sistema.
--Change:		-
--Example:		[dbo].[Usp_List_Supplies]
--================================================= 
CREATE PROC [dbo].[Usp_List_Supplies]
AS
BEGIN

	DECLARE	@CActiveStatus	CHAR(1)	=	'A';

	SELECT	IdSupply
			,CodeSupply
			,S.[Name]
			,Stock
			,MT.[Name]	AS	 MeasureUnit
			,MinimumStock
			,FORMAT(DateUpdate, 'dd/MM/yyyy')	AS	DateUpdate
			,CASE	WHEN MinimumStock <= Stock THEN	0
					ELSE 1 
			  END AS	IndicateAlert
			,PriceUnit
	FROM	Supply	S
	INNER JOIN	MasterTable	MT
		ON	S.MeasureUnit	=	MT.IdMasterTable
	WHERE	S.RecordStatus	=	@CActiveStatus
	ORDER BY S.[Name] ASC

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_SuppliesByProduct]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los insumos por producto a partir del IdProduct.
--Change:		-
--Example:		[dbo].[Usp_List_SuppliesByProduct]
--================================================= 
CREATE PROC [dbo].[Usp_List_SuppliesByProduct]
	@ParamIIdProduct	VARCHAR(50)
AS
BEGIN

	SELECT	S.IdSupply
			,S.[Name]
			,SP.Quantity
			,MT.[Name]		AS	MeasureUnit
	FROM	Supply	S
	INNER JOIN	SuppliesByProduct	SP
		ON	S.IdSupply	=	SP.IdSupply
	INNER JOIN	Product	P
		ON	SP.IdProduct	=	P.IdProduct
	INNER JOIN	MasterTable	MT
		ON	MT.IdMasterTable	=	S.MeasureUnit
	WHERE	P.IdProduct	=	@ParamIIdProduct;

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Ubi]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar tablas ubigeo
--Change:		-
--Example:		[dbo].[Usp_List_Ubi]
--================================================= 
CREATE PROC [dbo].[Usp_List_Ubi]
AS
BEGIN

	SELECT	IdDepartment,
			Department 
	FROM	Department

	SELECT	IdProvince,
			Province,
			IdDepartment 
	FROM	Province

	SELECT	IdDistrict,
			District,
			IdProvince
	FROM	District

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Login]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para validar el acceso del usuario al sistema.
--Change:		-
--Example:		[dbo].[Usp_Login] 'admin', 'mO+Qpha+NQvkImJhOUfGbQ=='
--================================================= 
CREATE PROC [dbo].[Usp_Login]
	@ParamIUsername		VARCHAR(100)
	,@ParamIPassword	VARCHAR(MAX)
AS
BEGIN
	
	DECLARE @IdProfile char(5)

	SELECT	@IdProfile	= IdProfile
	FROM	[User]
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	SELECT	IdUser
			,Username
			,[Password]
			,US.RecordStatus
			,IdProfile
			,MT.[Name] AS ProfileName
	FROM	[User] US
	INNER JOIN MasterTable MT
	ON US.IdProfile	= MT.IdMasterTable
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	
	SELECT	mp.IdMenuProfile,
			mp.IdMenu,
			mp.IdProfile,
			me.MenuName,
			mp.RecordStatus,
			me.UrlName,
			ISNULL(me.IdMenuParent,'')	IdMenuParent
	FROM	MenuProfile mp
	INNER JOIN	Menu me
	ON	mp.IdMenu = me.IdMenu
	WHERE	mp.IdProfile = @IdProfile
	AND me.RecordStatus='A'

END


GO
/****** Object:  StoredProcedure [dbo].[Usp_MasterTable_List]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_MasterTable_List]
@ParamIRecordStatus CHAR(1)
AS
BEGIN
	SELECT	IdMasterTable,
			IdMasterTableParent,
			[Name],
			[Order],
			[Value],
			AdditionalOne,
			AdditionalTwo,
			AdditionalThree,
			RecordStatus 
	FROM MasterTable
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_Customer]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar los customer
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_Customer] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_Customer]
	@ParamIIdCustomer		UNIQUEIDENTIFIER
	,@ParamIFirstName		VARCHAR(100)
	,@ParamILastName		VARCHAR(100)
	,@ParamIDocumentNumber	VARCHAR(20)
	,@ParamIPhoneNumber		VARCHAR(20)	
	,@ParamIEmail			VARCHAR(100)
	,@ParamIIdDistrict		INT
	,@ParamIRecordStatus	CHAR(1)	
AS
BEGIN

	MERGE	[dbo].[Customer]	AS	TARGET
	USING(
		SELECT	@ParamIIdCustomer		
				,@ParamIFirstName
				,@ParamILastName		
				,@ParamIDocumentNumber		
				,@ParamIPhoneNumber
				,@ParamIEmail
				,@ParamIIdDistrict
				,@ParamIRecordStatus
		)	AS SOURCE	(
				IdCustomer
				,FirstName
				,LastName
				,DocumentNumber
				,PhoneNumber
				,Email
				,IdDistrict
				,RecordStatus
		)
	ON (TARGET.IdCustomer	=	SOURCE.IdCustomer)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.FirstName	=	SOURCE.FirstName
			,TARGET.LastName		=	SOURCE.LastName
			,TARGET.DocumentNumber	=	SOURCE.DocumentNumber			
			,TARGET.PhoneNumber	=	SOURCE.PhoneNumber
			,TARGET.Email	=	SOURCE.Email
			,TARGET.IdDistrict	=	SOURCE.IdDistrict
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdCustomer
			,FirstName
			,LastName
			,DocumentNumber
			,PhoneNumber
			,Email
			,IdDistrict
			,RecordStatus
		)
		VALUES
		(	
			SOURCE.IdCustomer
			,SOURCE.FirstName
			,SOURCE.LastName
			,SOURCE.DocumentNumber
			,SOURCE.PhoneNumber
			,SOURCE.Email
			,SOURCE.IdDistrict
			,SOURCE.RecordStatus
		)
	
	OUTPUT
		inserted.IdCustomer;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_Order]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar las cabeceras de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_Order] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_Order]
	@ParamIIdOrder		UNIQUEIDENTIFIER
	,@ParamIDateOrder	DATETIME
	,@ParamITotal		NUMERIC(9,2)
	,@ParamIStatusOrder		CHAR(5)
	,@ParamILocationOrder		CHAR(5)
	,@ParamIIdCustomer	UNIQUEIDENTIFIER	
	,@ParamIBusinessNumber VARCHAR(11)
	,@ParamIBusinessName VARCHAR(200)
	,@ParamIRecordStatus	CHAR(1)	
AS
BEGIN

	MERGE	[dbo].[Order]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrder		
				,@ParamIDateOrder
				,@ParamITotal		
				,@ParamIStatusOrder	
				,@ParamILocationOrder
				,@ParamIIdCustomer
				,@ParamIRecordStatus
				,@ParamIBusinessNumber
				,@ParamIBusinessName				
		)	AS SOURCE	(
				IdOrder
				,DateOrder
				,Total
				,StatusOrder
				,LocationOrder
				,IdCustomer
				,RecordStatus
				,BusinessNumber
				,BusinessName
		)
	ON (TARGET.IdOrder	=	SOURCE.IdOrder)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.DateOrder		=	SOURCE.DateOrder
			,TARGET.Total			=	SOURCE.Total
			,TARGET.StatusOrder		=	SOURCE.StatusOrder
			,TARGET.LocationOrder	=	SOURCE.LocationOrder			
			,TARGET.IdCustomer		=	SOURCE.IdCustomer
			,TARGET.BusinessNumber	=	SOURCE.BusinessNumber
			,TARGET.BusinessName	=	SOURCE.BusinessName
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrder
			,DateOrder
			,CodeOrder
			,Total
			,StatusOrder
			,LocationOrder
			,IdCustomer
			,RecordStatus
			,BusinessName
			,BusinessNumber
		)
		VALUES
		(	
			SOURCE.IdOrder
			,SOURCE.DateOrder
			,[dbo].[FN_GetCodeOrder]()
			,SOURCE.Total
			,SOURCE.StatusOrder
			,SOURCE.LocationOrder
			,SOURCE.IdCustomer
			,SOURCE.RecordStatus
			,SOURCE.BusinessName
			,SOURCE.BusinessNumber
		)
		

		--INSERT INTO OrderStatus
		--VALUES (NEWID(),SOURCE.IdOrder,'00201','00101'
	OUTPUT
		inserted.IdOrder;


	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_OrderDetail]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar el detalle de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_OrderDetail] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_OrderDetail]
	@ParamIIdOrderDetail	UNIQUEIDENTIFIER
	,@ParamIIdOrder			UNIQUEIDENTIFIER
	,@ParamIIdProduct		UNIQUEIDENTIFIER
	,@ParamIDescription		VARCHAR(3000)
	,@ParamIQuantity		DECIMAL(18,4)
	,@ParamIRecordStatus	CHAR(1)
AS
BEGIN

	MERGE	[dbo].[OrderDetail]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrderDetail
				,@ParamIIdOrder		
				,@ParamIIdProduct	
				,@ParamIDescription	
				,@ParamIQuantity	
				,@ParamIRecordStatus
		)	AS SOURCE	(
				IdOrderDetail
				,IdOrder
				,IdProduct
				,[Description]
				,Quantity
				,RecordStatus
		)
	ON (TARGET.IdOrderDetail	=	SOURCE.IdOrderDetail)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.IdOrder			=	SOURCE.IdOrder
			,TARGET.IdProduct		=	SOURCE.IdProduct
			,TARGET.[Description]	=	SOURCE.[Description]
			,TARGET.Quantity		=	SOURCE.Quantity
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrderDetail
			,IdOrder
			,IdProduct
			,[Description]
			,Quantity
			,RecordStatus
		)
		VALUES
		(	
			SOURCE.IdOrderDetail
			,SOURCE.IdOrder
			,SOURCE.IdProduct
			,SOURCE.[Description]
			,SOURCE.Quantity
			,SOURCE.RecordStatus
		)
	
	OUTPUT
		inserted.IdOrderDetail;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Rpt_ListOrderQuantity]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	Cantidad de pedido por mes 
--Change:		-
--Example:		[dbo].[Usp_Rpt_ListOrderQuantity]
--================================================= 
CREATE PROC [dbo].[Usp_Rpt_ListOrderQuantity]
AS
BEGIN	

	SELECT		RIGHT(year(DateOrder),4)+'-'+RIGHT(CONCAT('00',CAST(month(DateOrder)  AS VARCHAR(2))),2) DateGroup
				,COUNT(1)  Quantity 
	FROM		[Order]
	GROUP BY	RIGHT(year(DateOrder),4)+'-'+RIGHT(CONCAT('00',CAST(month(DateOrder)  AS VARCHAR(2))),2)


END


GO
/****** Object:  StoredProcedure [dbo].[Usp_Rpt_ListOrderQuantityStatus]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	Cantidad de pedido por mes aprobados y rechazados
--Change:		-
--Example:		[dbo].[Usp_Rpt_ListOrderQuantityStatus]
--================================================= 
CREATE PROC [dbo].[Usp_Rpt_ListOrderQuantityStatus]
AS
BEGIN	

	IF OBJECT_ID(N'tempdb..#TMP_QUANTITY') IS NOT NULL
	BEGIN
	DROP TABLE #TMP_QUANTITY
	END

	CREATE TABLE #TMP_QUANTITY
	(		
		[Status] VARCHAR(10) NOT NULL,
		Quantity INT NULL
	)

	INSERT INTO #TMP_QUANTITY
	SELECT	'Aprobado' [Status]
			,0	Quantity 
	
	INSERT INTO #TMP_QUANTITY
	SELECT	'Rechazado' [Status]
			,0	Quantity 
	
	UPDATE #TMP_QUANTITY
	SET Quantity=	(
						SELECT	COUNT(1)  
						FROM	[OrderStatus] 
						WHERE	[Location]		=	'00201' 
								AND	[Status]	=	'00602'
					)
	WHERE [Status]	=	'Aprobado'

	UPDATE #TMP_QUANTITY
	SET Quantity=	(
						SELECT	COUNT(1)  
						FROM	[OrderStatus] 
						WHERE	[Location]		=	'00201' 
								AND	[Status]	=	'00603'
					)
	WHERE [Status]	=	'Rechazado'

	SELECT	[Status] 
			,Quantity
	FROM	#TMP_QUANTITY

END		    



GO
/****** Object:  StoredProcedure [dbo].[Usp_Rpt_ListOrderQuantityStatusDelivery]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	Cantidad de pedido por pendientes y entregados
--Change:		-
--Example:		[dbo].[Usp_Rpt_ListOrderQuantityStatusDelivery]
--================================================= 
CREATE PROC [dbo].[Usp_Rpt_ListOrderQuantityStatusDelivery]
AS
BEGIN	

	IF OBJECT_ID(N'tempdb..#TMP_QUANTITY') IS NOT NULL
	BEGIN
	DROP TABLE #TMP_QUANTITY
	END

	CREATE TABLE #TMP_QUANTITY
	(		
		[Status] VARCHAR(10) NOT NULL,
		Quantity INT NULL
	)

	INSERT INTO #TMP_QUANTITY
	SELECT	'Pendientes' [Status]
			,0	Quantity 
	
	INSERT INTO #TMP_QUANTITY
	SELECT	'Entregados' [Status]
			,0	Quantity 
	
	UPDATE #TMP_QUANTITY
	SET Quantity=	(
						SELECT	COUNT(1)  
						FROM	OrderFlow 
						WHERE	LocationOrder	=	'00206' 
								AND		Answer	=	'00601'
								AND		FlagActive		=	1
					)
	WHERE [Status]	=	'Pendientes'

	UPDATE #TMP_QUANTITY
	SET Quantity=	(
						SELECT	COUNT(1)  
						FROM	OrderFlow 
						WHERE	LocationOrder	=	'00206' 
								AND		Answer	=	'00606'
								AND		FlagInProcess		=	1
					)
	WHERE [Status]	=	'Entregados'

	SELECT	[Status] 
			,Quantity
	FROM	#TMP_QUANTITY

END		    



GO
/****** Object:  StoredProcedure [dbo].[Usp_Rpt_ListProductQuantity]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	Cantidad de productos vendidos por modelo
--Change:		-
--Example:		[dbo].[Usp_Rpt_ListProductQuantity]
--================================================= 
CREATE PROC [dbo].[Usp_Rpt_ListProductQuantity]
AS
BEGIN
	
	SELECT	OD.IdProduct
			,P.[Name]
			,SUM(Quantity) Quantity
	FROM	OrderDetail OD
	INNER JOIN	Product P
	ON P.IdProduct	=	OD.IdProduct
	GROUP BY OD.IdProduct,P.[Name]
	ORDER BY Quantity 


END


GO
/****** Object:  StoredProcedure [dbo].[Usp_Upd_Decrease]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para actualizar la merma que se producen en las SubOrder.
--Change:		-
--Example:		[dbo].[Usp_Upd_Decrease]	
--================================================= 
CREATE PROC [dbo].[Usp_Upd_Decrease]
	@ParamIIdOrderDetail		UNIQUEIDENTIFIER
	,@ParamICodeSubOrder		VARCHAR(25)
	,@ParamIQuantityDecrease	NUMERIC(9,2)
AS
BEGIN

	UPDATE	OrderDetail
	SET	Quantity	=	Quantity	-	@ParamIQuantityDecrease
	WHERE	IdOrderDetail	=	@ParamIIdOrderDetail;
	
	UPDATE	SubOrderFlow
	SET	QuantityDecrease	=	@ParamIQuantityDecrease
	WHERE	CodeSubOrder	=	@ParamICodeSubOrder;

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upd_OrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para actualizar el flujo de la orden a partir del IdOrder, LocationOrder y del Answer
--Change:		-
--Example:		[dbo].[Usp_Upd_OrderFlow]	'698D0C51-C86C-4B0B-B2FE-78103EAB3403', '00203', '00602'
--================================================= 
CREATE PROC [dbo].[Usp_Upd_OrderFlow]
	@ParamIIdOrder			VARCHAR(50)
	,@ParamILocationOrder	CHAR(5)
	,@ParamIAnswer			CHAR(5)
AS
BEGIN

	DECLARE	@CFlagTrue					BIT	=	1;
	DECLARE	@CFlagFalse					BIT	=	0;
	DECLARE	@CLastLocation				CHAR(5)	=	'00207';
	DECLARE	@CStatusOrderInProcess		CHAR(5)	=	'00102';
	DECLARE	@CStatusOrderCompleted		CHAR(5)	=	'00103';

	DECLARE	@VLocationOrderFlowActive	CHAR(5);
	
	SELECT	@VLocationOrderFlowActive	=	[OF].LocationOrder
	FROM	OrderFlow	[OF]
	WHERE	[OF].IdOrder	=	@ParamIIdOrder
		AND	[OF].FlagActive	=	@CFlagTrue;

	IF(@VLocationOrderFlowActive	=	@ParamILocationOrder)
	BEGIN
		--Como se trata del mismo Proceso solo actualiza el estado del proceso
		UPDATE	OrderFlow
		SET	Answer	=	@ParamIAnswer
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	LocationOrder	=	@ParamILocationOrder;
	END
	ELSE
	BEGIN
		--Como se trata de otro proceso dentro del flujo, realiza lo siguiente
		--Inactiva el vigente
		UPDATE	OrderFlow
		SET	FlagActive	=	@CFlagFalse
			,DateOrderFlow	=	GETDATE()
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	FlagActive	=	@CFlagTrue;
		--Actualiza el que proceso al que está ingresando
		UPDATE	OrderFlow
		SET	Answer	=	@ParamIAnswer
			,FlagInProcess	=	@CFlagTrue
			,FlagActive	=	@CFlagTrue
			,DateOrderFlow	=	GETDATE()
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	LocationOrder	=	@ParamILocationOrder;
		--Se actualiza el LocationOrder en la tabla Order
		IF(@ParamILocationOrder	=	@CLastLocation)
		BEGIN
			UPDATE	[Order]
			SET	LocationOrder	=	@ParamILocationOrder
				,StatusOrder	=	@CStatusOrderCompleted
			WHERE	IdOrder	=	@ParamIIdOrder;
		END
		ELSE
		BEGIN
			UPDATE	[Order]
			SET	LocationOrder	=	@ParamILocationOrder
				,StatusOrder	=	@CStatusOrderInProcess
			WHERE	IdOrder	=	@ParamIIdOrder;
		END
	END

	--Se registra el paso del proceso de la orden en la tabla OrderStatus
	INSERT INTO	OrderStatus	(	IdOrderStatus
								,IdOrder
								,[Location]
								,[Status]
								,DateOrderStatus)
	VALUES	(	NEWID()
				,@ParamIIdOrder
				,@ParamILocationOrder
				,@ParamIAnswer
				,GETDATE());

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upd_SubOrderFlow]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para actualizar el flujo de las subordenes a partir del CodeSubOrder
--Change:		-
--Example:		[dbo].[Usp_Upd_SubOrderFlow]	'LAVA202109-000001', '00103'
--================================================= 
CREATE PROC [dbo].[Usp_Upd_SubOrderFlow]
	@ParamICodeSubOrder		VARCHAR(25)
	,@ParamIStatus			CHAR(5)
AS
BEGIN

	DECLARE	@VQuantityStatus		INT	=	0;
	DECLARE @VIdOrder				UNIQUEIDENTIFIER;
	DECLARE @VIdOrderFlow			UNIQUEIDENTIFIER;
	DECLARE @VIdProduct				UNIQUEIDENTIFIER;
	DECLARE @VStatusSubOrderFlow	CHAR(5);
	DECLARE @VLocationOrder			CHAR(5);
	DECLARE @VLocationOrderNext		CHAR(5);
	DECLARE @VOrderNext				INT;
	DECLARE @VOrder					INT;
	DECLARE @VOrderSubProcess		INT;
	DECLARE	@VCodeSubOrderNext		VARCHAR(25)	=	NULL;
	DECLARE @VIdOrderFlowNext		UNIQUEIDENTIFIER;

	DECLARE @VQuantitySubOrders		INT;
	DECLARE @CNumberOne						INT	=	1;
	DECLARE @CIdMTStatusComplete			CHAR(5)	=	'00103';
	DECLARE @CIdMTStatusPending				CHAR(5)	=	'00101';
	DECLARE @CIdMTStatusOrderFlowPending	CHAR(5)	=	'00601';
	DECLARE @CIdMTStatusOrderFlowInProcess	CHAR(5)	=	'00604';
	DECLARE @CIdMTStatusOrderFlowComplete	CHAR(5)	=	'00605';
	DECLARE @CAreaLaundry					CHAR(5)	=	'00204';

	UPDATE	[SubOrderFlow]
	SET		StatusSubOrderMT	=	@ParamIStatus,
			DateEndSubOrder		= CASE WHEN @ParamIStatus =@CIdMTStatusComplete THEN SYSDATETIME() ELSE NULL END
	WHERE	CodeSubOrder	=	@ParamICodeSubOrder;

	

	SELECT	@VIdOrderFlow		=	SOF.IdOrderFlow
			,@VLocationOrder	=	PSP.LocationOrder
			,@VOrderSubProcess	=	PSP.OrderSubProcess
			,@VIdProduct		=	PSP.IdProduct
			,@VIdOrder			=	OFL.IdOrder
			,@VOrder			=	PSP.OrderSubProcess
	FROM	SubOrderFlow	SOF
	INNER JOIN	ProductSubProcess	PSP
		ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
	INNER JOIN OrderFlow	OFL 
		ON	 OFL.IdOrderFlow	=	SOF.IdOrderFlow
	WHERE	SOF.CodeSubOrder	=	@ParamICodeSubOrder;

	SELECT	@VQuantityStatus	=	COUNT(DISTINCT(SOF.StatusSubOrderMT))
	FROM	SubOrderFlow	SOF
	WHERE	SOF.IdOrderFlow	=	@VIdOrderFlow

	SELECT	@VOrderNext = NroOrder	+	1
	FROM	OrderFlow
	WHERE	IdOrderFlow	=	@VIdOrderFlow

	SELECT	@VIdOrderFlowNext = IdOrderFlow
	FROM	OrderFlow
	WHERE	IdOrder	=	@VIdOrder
		AND	NroOrder	=	@VOrderNext

	IF	@VQuantityStatus	=	@CNumberOne
	BEGIN
		SELECT	@VStatusSubOrderFlow	=	SOF.StatusSubOrderMT
		FROM	SubOrderFlow	SOF
		WHERE	SOF.CodeSubOrder	=	@ParamICodeSubOrder

		SELECT	@VLocationOrderNext	=	LocationOrder
		FROM	OrderFlow
		WHERE	IdOrder		=	@VIdOrder
			AND	NroOrder	=	@VOrderNext
		
		IF	@VLocationOrderNext	= NULL
			SET @VLocationOrderNext	=	@VLocationOrder

		/*Obteniendo el SubOrder siguiente para pasarlo de estado CREADO a PENDIENTE*/
		SELECT	@VCodeSubOrderNext	=	SOF.CodeSubOrder
		FROM	SubOrderFlow	SOF
		INNER JOIN	ProductSubProcess	PSP
			ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
		WHERE	PSP.OrderSubProcess	=	@VOrderSubProcess + 1
			AND	PSP.IdProduct		=	@VIdProduct
			AND	SOF.IdOrderFlow		IN (	SELECT	 IdOrderFlow
											FROM	OrderFlow
											WHERE	IdOrder	=	@VIdOrder
												AND	NroOrder	=	@VOrderNext
										)
			
		IF	@VCodeSubOrderNext IS NOT NULL
		BEGIN
			UPDATE	SubOrderFlow
			SET		StatusSubOrderMT	=	@CIdMTStatusPending
			WHERE	CodeSubOrder		IN	(
								SELECT SOF.CodeSubOrder
								FROM	SubOrderFlow	SOF
								INNER JOIN	ProductSubProcess	PSP
									ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
								WHERE	PSP.OrderSubProcess	=	@VOrderSubProcess + 1
									AND	PSP.IdProduct		=	@VIdProduct
									AND	SOF.IdOrderFlow		IN (	SELECT	 IdOrderFlow
																	FROM	OrderFlow
																	WHERE	IdOrder	=	@VIdOrder
																		AND	NroOrder	=	@VOrderNext
										)
									)
		END

		IF	@VStatusSubOrderFlow	=	@CIdMTStatusComplete
		BEGIN
			EXEC [dbo].[Usp_Upd_OrderFlow]	@VIdOrder, @VLocationOrderNext, @CIdMTStatusOrderFlowPending;
		END
	END
	ELSE
	BEGIN
		
		/*Obteniendo el SubOrder siguiente para pasarlo de estado CREADO a PENDIENTE*/
		SELECT	TOP 1 @VCodeSubOrderNext	=	SOF.CodeSubOrder
		FROM	SubOrderFlow	SOF
		INNER JOIN	ProductSubProcess	PSP
			ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
		WHERE	PSP.OrderSubProcess	=	@VOrderSubProcess + 1
			AND	PSP.IdProduct		=	@VIdProduct
			AND	SOF.IdOrderFlow		IN (	SELECT	 IdOrderFlow
											FROM	OrderFlow
											WHERE	IdOrder	=	@VIdOrder
												AND	NroOrder	=	@VOrderNext
										)
		
			SELECT	@VQuantitySubOrders=COUNT(1) 
			FROM	SubOrderFlow	SOF
			INNER JOIN	ProductSubProcess	PSP
				ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
			WHERE	PSP.OrderSubProcess	=	@VOrder
				AND	PSP.IdProduct		=	@VIdProduct
				AND	SOF.StatusSubOrderMT	= @CIdMTStatusPending

				
		--TODO DE ESA AREA PASO , SI ES LAVANDERIA
			SELECT @VLocationOrder,@CAreaLaundry
			IF @VCodeSubOrderNext IS NOT NULL
			BEGIN
				IF	@VLocationOrder = @CAreaLaundry 
				BEGIN 
					IF @VQuantitySubOrders = 0 
					BEGIN 
						UPDATE	SubOrderFlow
						SET		StatusSubOrderMT	=	@CIdMTStatusPending
						WHERE	CodeSubOrder		IN	(
											SELECT SOF.CodeSubOrder
											FROM	SubOrderFlow	SOF
											INNER JOIN	ProductSubProcess	PSP
												ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
											WHERE	PSP.OrderSubProcess	=	@VOrderSubProcess + 1
												AND	PSP.IdProduct		=	@VIdProduct
												AND	SOF.IdOrderFlow		IN (	SELECT	 IdOrderFlow
																				FROM	OrderFlow
																				WHERE	IdOrder	=	@VIdOrder
																					AND	NroOrder	=	@VOrderNext
													)
												)						
					END
				END
				ELSE
				BEGIN					
					UPDATE	SubOrderFlow
					SET		StatusSubOrderMT	=	@CIdMTStatusPending
					WHERE	CodeSubOrder		IN	(
										SELECT SOF.CodeSubOrder
										FROM	SubOrderFlow	SOF
										INNER JOIN	ProductSubProcess	PSP
											ON	SOF.IdProductSubProcess	=	PSP.IdProductSubProcess
										WHERE	PSP.OrderSubProcess	=	@VOrderSubProcess + 1
											AND	PSP.IdProduct		=	@VIdProduct
											AND	SOF.IdOrderFlow		IN (	SELECT	 IdOrderFlow
																			FROM	OrderFlow
																			WHERE	IdOrder	=	@VIdOrder
																				AND	NroOrder	=	@VOrderNext
												)
											)					
				END
			END				
				

		EXEC [dbo].[Usp_Upd_OrderFlow]	@VIdOrder, @VLocationOrder, @CIdMTStatusOrderFlowInProcess;
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upd_SubOrderFlowDetail]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para actualizar la cantidad  en las SubOrderFlowDetail.
--Change:		-
--Example:		[dbo].[Usp_Upd_SubOrderFlowDetail]	
--================================================= 
CREATE PROC [dbo].[Usp_Upd_SubOrderFlowDetail]
	@ParamIIdSubOrderFlowDetail		UNIQUEIDENTIFIER
	,@ParamIQuantityReturn			NUMERIC(9,2)
AS
BEGIN

	UPDATE	SubOrderFlowDetail
	SET	QuantityReturn	=	@ParamIQuantityReturn
	WHERE	IdSubOrderFlowDetail=@ParamIIdSubOrderFlowDetail;		

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_ValidateStockByQuantityProduct]    Script Date: 23/10/2021 22:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--DESCRIPTION: Valida el stock de insumos para la elaboración de un producto.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_ValidateStockByQuantityProduct] [{"IdProduct": "1FA19B13-E1FE-4550-B611-0E37CE23B9CF", "Quantity": 50}, {"IdProduct": "76d5f7f6-2bd4-4718-9bef-2f21a381cb9f", "Quantity": 25}]
--=================================================
CREATE PROCEDURE	[dbo].[Usp_ValidateStockByQuantityProduct]
	@ParamIProductJson	VARCHAR(MAX)
AS
BEGIN

	DECLARE	@ParamIListProducts	TABLE	(IdProduct	UNIQUEIDENTIFIER, Quantity	INT);
	DECLARE	@CFlagTrue	BIT	=	1;
	DECLARE	@CFlagFalse	BIT	=	0;
	DECLARE	@VIdSupply	UNIQUEIDENTIFIER; 
	DECLARE	@VNecessaryQuantity	NUMERIC(18,4);
	DECLARE	@VStock	NUMERIC(9,2);
	DECLARE	@VFlagValidate	BIT	=	@CFlagTrue;

	INSERT INTO @ParamIListProducts
	SELECT	IdProduct
			,Quantity
	FROM	OPENJSON(@ParamIProductJson)  
	WITH	(	IdProduct	UNIQUEIDENTIFIER
				,Quantity	INT
			)

	DECLARE	SuppliesCursor	CURSOR FOR
		SELECT	S.IdSupply
				,SUM(SBP.Quantity * LP.Quantity)	AS	NecessaryQuantity
				,S.Stock
		FROM	@ParamIListProducts	LP
		INNER JOIN	SuppliesByProduct	SBP
			ON	LP.IdProduct	=	SBP.IdProduct
		INNER JOIN	Supply	S
			ON	SBP.IdSupply	=	S.IdSupply
		GROUP BY	S.IdSupply, S.Stock
				
	OPEN SuppliesCursor
	FETCH NEXT FROM	SuppliesCursor	INTO	
		@VIdSupply
		,@VNecessaryQuantity
		,@VStock
	WHILE	@@FETCH_STATUS = 0
	BEGIN
		
		IF	@VNecessaryQuantity	>	@VStock
		BEGIN
			SET @VFlagValidate	=	@CFlagFalse;
			BREAK;
		END
		
		FETCH NEXT FROM	SuppliesCursor	INTO	
			@VIdSupply
			,@VNecessaryQuantity
			,@VStock
	END
	CLOSE SuppliesCursor
	
	IF	@VFlagValidate	=	@CFlagTrue
	BEGIN
		OPEN SuppliesCursor
		FETCH NEXT FROM	SuppliesCursor	INTO	
			@VIdSupply
			,@VNecessaryQuantity
			,@VStock
		WHILE	@@FETCH_STATUS = 0
		BEGIN
		
			UPDATE	Supply
			SET	Stock	=	Stock - @VNecessaryQuantity
				,DateUpdate	=	GETDATE()
			WHERE	IdSupply	=	@VIdSupply;

			FETCH NEXT FROM	SuppliesCursor	INTO	
			@VIdSupply
			,@VNecessaryQuantity
			,@VStock
		END
		CLOSE SuppliesCursor
	END

	DEALLOCATE SuppliesCursor;

	SELECT @VFlagValidate	AS	Validate;
	IF	@VFlagValidate	=	@CFlagTrue
	BEGIN
		SELECT	S.[Name]
				,S.Stock
				,MT.[Name]	AS	MeasureUnit
				,S.MinimumStock
		FROM	@ParamIListProducts	LP
		INNER JOIN	SuppliesByProduct	SBP
			ON	LP.IdProduct	=	SBP.IdProduct
		INNER JOIN	Supply	S
			ON	SBP.IdSupply	=	S.IdSupply
		INNER JOIN	MasterTable	MT
			ON	S.MeasureUnit	=	MT.IdMasterTable
		WHERE	S.Stock	<=	S.MinimumStock
	END
	ELSE
	BEGIN
		SELECT	''	AS	[Name]
				,0	AS	Stock
				,''	AS	MeasureUnit
				,0	AS	MinimumStock
	END

END
GO
USE [master]
GO
