USE [master]
GO
/****** Object:  Database [MAPESAC]    Script Date: 26/09/2021 00:13:41 ******/
CREATE DATABASE [MAPESAC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAPESAC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\MAPESAC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MAPESAC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\MAPESAC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAPESAC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAPESAC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCodeOrder]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetCodeOrder] ()  
	RETURNS CHAR(13)  
AS  
BEGIN  
	DECLARE	@VResult	CHAR(13);
	DECLARE	@CDate		DATETIME	=	GETDATE()
	SELECT	@VResult	=	CONCAT(	RIGHT(YEAR(@CDate),4)
									,RIGHT(CONCAT('00',CAST(MONTH(@CDate)  AS VARCHAR(2))),2)
									,'-'
									,RIGHT(CONCAT('000000',CAST(COUNT(1)+1  AS VARCHAR(6))),6))
	FROM	dbo.[Order]	O
	WHERE	YEAR(O.DateOrder)	=	YEAR(@CDate)
	AND		MONTH(O.DateOrder)	=	MONTH(@CDate)

	RETURN	@VResult;
END;  
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IdDistrict] [int] NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IdDepartment] [int] NOT NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[IdDistrict] [int] NOT NULL,
	[District] [varchar](50) NULL,
	[IdProvince] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterTable]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterTable](
	[IdMasterTable] [char](5) NOT NULL,
	[IdMasterTableParent] [char](5) NULL,
	[Name] [varchar](100) NULL,
	[Order] [int] NULL,
	[Value] [varchar](max) NULL,
	[AdditionalOne] [varchar](100) NULL,
	[AdditionalTwo] [varchar](100) NULL,
	[AdditionalThree] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_MasterTable] PRIMARY KEY CLUSTERED 
(
	[IdMasterTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [char](5) NOT NULL,
	[MenuName] [varchar](100) NOT NULL,
	[UrlName] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProfile]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProfile](
	[IdMenuProfile] [uniqueidentifier] NOT NULL,
	[IdMenu] [char](5) NOT NULL,
	[IdProfile] [char](5) NOT NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [uniqueidentifier] NOT NULL,
	[DateOrder] [date] NOT NULL,
	[CodeOrder] [varchar](50) NOT NULL,
	[Total] [numeric](9, 2) NOT NULL,
	[StatusOrder] [char](5) NULL,
	[LocationOrder] [char](5) NULL,
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[RecordStatus] [char](1) NULL,
	[BusinessNumber] [varchar](11) NULL,
	[BusinessName] [varchar](200) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[IdOrderDetail] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Description] [varchar](3000) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[IdOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderFlow]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFlow](
	[IdOrderFlow] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[NroOrder] [int] NULL,
	[LocationOrder] [char](5) NULL,
	[Answer] [char](5) NULL,
	[DateOrderFlow] [datetime] NOT NULL,
	[FlagInProcess] [bit] NULL,
	[FlagActive] [bit] NULL,
 CONSTRAINT [PK_OrderFlow] PRIMARY KEY CLUSTERED 
(
	[IdOrderFlow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[IdOrderStatus] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[Location] [char](5) NULL,
	[Status] [char](5) NOT NULL,
	[DateOrderStatus] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[PathFile] [varchar](max) NULL,
	[RecordStatus] [char](1) NULL,
	[PriceUnit] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSubProcess]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSubProcess](
	[IdProductSubProcess] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[LocationOrder] [char](5) NOT NULL,
	[Description] [varchar](200) NULL,
	[OrderSubProcess] [int] NULL,
 CONSTRAINT [PK_ProductSubProcess] PRIMARY KEY CLUSTERED 
(
	[IdProductSubProcess] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[IdProvince] [int] NOT NULL,
	[Province] [varchar](50) NULL,
	[IdDepartment] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvince] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubOrderFlow]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubOrderFlow](
	[IdSubOrderFlow] [uniqueidentifier] NOT NULL,
	[IdProductSubProcess] [uniqueidentifier] NOT NULL,
	[IdOrderFlow] [uniqueidentifier] NOT NULL,
	[StatusSubOrderMT] [char](5) NULL,
 CONSTRAINT [PK_SubOrderFlow] PRIMARY KEY CLUSTERED 
(
	[IdSubOrderFlow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliersBySupply]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliersBySupply](
	[IdSuppliersBySupply] [uniqueidentifier] NOT NULL,
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[IdSupply] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SuppliersBySupplie] PRIMARY KEY CLUSTERED 
(
	[IdSuppliersBySupply] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliesByProduct]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliesByProduct](
	[IdSuppliesByProduct] [uniqueidentifier] NOT NULL,
	[IdSupply] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[MTLocation] [char](5) NULL,
	[Quantity] [numeric](9, 2) NOT NULL,
 CONSTRAINT [PK_SuppliesByProduct] PRIMARY KEY CLUSTERED 
(
	[IdSuppliesByProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[IdSupply] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[Stock] [numeric](9, 2) NULL,
	[MeasureUnit] [char](5) NULL,
	[MinimumStock] [numeric](9, 2) NULL,
 CONSTRAINT [PK_Supplie] PRIMARY KEY CLUSTERED 
(
	[IdSupply] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/09/2021 00:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[IdProfile] [char](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([IdCustomer], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [IdDistrict], [RecordStatus]) VALUES (N'd4335b6e-5b5b-40d9-93a0-0d51fa4fc5fe', N'aa', N'a', N'12312312', N'12312321', N'a', 4, N'A')
INSERT [dbo].[Customer] ([IdCustomer], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [IdDistrict], [RecordStatus]) VALUES (N'50d5530a-a97f-46d2-a0cf-227b887681b3', N'gino', N'maguiña', N'14545', N'4748141', N'gmvxtm@gmail.com', 1251, N'A')
INSERT [dbo].[Customer] ([IdCustomer], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [IdDistrict], [RecordStatus]) VALUES (N'62144118-cf22-4199-aaae-28e3937fad92', N'gino', N'maguiña', N'14545', N'4748141', N'gmvxtm@gmail.com', 1251, N'A')
GO
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (2, N'ANCASH')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (3, N'APURIMAC')
GO
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (3, N'BALSAS', 1)
GO
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00100', NULL, N'Estado Pedido', NULL, NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00101', N'00100', N'Pendiente', 1, N'Pendiente', NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00102', N'00100', N'En Proceso', 2, N'En Proceso', NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME001', N'Area de Ventas', N'ventas', N'A')
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME002', N'Area de Almacen', N'almacen', N'A')
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME003', N'Area de Corte', N'corte', N'A')
GO
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'1c515671-b558-4f28-b836-642a309ee437', N'ME001', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c7d60203-574d-4a51-8616-4eb0997f664c', N'ME002', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c5eaed28-0e31-4f33-bc73-7dcca84b8460', N'ME003', N'00308', N'A')
GO
INSERT [dbo].[Order] ([IdOrder], [DateOrder], [CodeOrder], [Total], [StatusOrder], [LocationOrder], [IdCustomer], [RecordStatus], [BusinessNumber], [BusinessName]) VALUES (N'8b433cfa-f926-4835-a08e-294eb29a698c', CAST(N'2021-09-13' AS Date), N'202109-000003', CAST(5000.00 AS Numeric(9, 2)), N'00101', N'00201', N'692d16d5-b5db-4d17-81ec-945c1dadb9dd', N'A', N'', NULL)
INSERT [dbo].[Order] ([IdOrder], [DateOrder], [CodeOrder], [Total], [StatusOrder], [LocationOrder], [IdCustomer], [RecordStatus], [BusinessNumber], [BusinessName]) VALUES (N'89f3df95-d465-484e-8544-3043b03922c4', CAST(N'2021-09-13' AS Date), N'202109-000002', CAST(5000.00 AS Numeric(9, 2)), N'00102', N'00202', N'1a2fea6e-dcdb-4e6d-9128-9a949fd83d35', N'A', NULL, NULL)
INSERT [dbo].[Order] ([IdOrder], [DateOrder], [CodeOrder], [Total], [StatusOrder], [LocationOrder], [IdCustomer], [RecordStatus], [BusinessNumber], [BusinessName]) VALUES (N'15386a0d-4867-44d3-baf3-91636514d2cb', CAST(N'2021-09-13' AS Date), N'202109-000001', CAST(5000.00 AS Numeric(9, 2)), N'00101', N'00201', N'8d76e448-6dcc-41cb-8d73-2f3f77443ebe', N'A', N'12234567', N'razon social')
GO
INSERT [dbo].[OrderDetail] ([IdOrderDetail], [IdOrder], [IdProduct], [Description], [Quantity], [RecordStatus]) VALUES (N'd6afd397-6f97-4dca-a90f-61c8c7f41e9e', N'89f3df95-d465-484e-8544-3043b03922c4', N'd361e525-deb5-4666-9dbd-1acb12a543af', N'', CAST(3.0000 AS Decimal(18, 4)), N'A')
INSERT [dbo].[OrderDetail] ([IdOrderDetail], [IdOrder], [IdProduct], [Description], [Quantity], [RecordStatus]) VALUES (N'2fab789e-9900-40dd-be29-6a2086ef0bad', N'15386a0d-4867-44d3-baf3-91636514d2cb', N'd361e525-deb5-4666-9dbd-1acb12a543af', N'', CAST(2.0000 AS Decimal(18, 4)), N'A')
INSERT [dbo].[OrderDetail] ([IdOrderDetail], [IdOrder], [IdProduct], [Description], [Quantity], [RecordStatus]) VALUES (N'cca3dd8f-08d4-48ca-9066-78a6fe4242d4', N'fc330cb1-9524-4c44-be36-a0c49d291fb2', N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'', CAST(3.0000 AS Decimal(18, 4)), N'A')
GO
INSERT [dbo].[OrderFlow] ([IdOrderFlow], [IdOrder], [NroOrder], [LocationOrder], [Answer], [DateOrderFlow], [FlagInProcess], [FlagActive]) VALUES (N'954db433-ab56-49cf-abca-01f8fe7d5ba8', N'1178fb8a-d1c6-413d-9144-a0f7bb2b58d9', 3, N'00203', N'00601', CAST(N'2021-09-14T20:16:23.700' AS DateTime), 0, 0)
INSERT [dbo].[OrderFlow] ([IdOrderFlow], [IdOrder], [NroOrder], [LocationOrder], [Answer], [DateOrderFlow], [FlagInProcess], [FlagActive]) VALUES (N'ef9527c9-b5d0-4cf5-a4af-0366e7b83a0d', N'8b433cfa-f926-4835-a08e-294eb29a698c', 7, N'00207', N'00601', CAST(N'2021-09-13T08:37:16.843' AS DateTime), 0, 0)
INSERT [dbo].[OrderFlow] ([IdOrderFlow], [IdOrder], [NroOrder], [LocationOrder], [Answer], [DateOrderFlow], [FlagInProcess], [FlagActive]) VALUES (N'6a1961fa-f018-485b-b7ed-0842b9af95ae', N'1178fb8a-d1c6-413d-9144-a0f7bb2b58d9', 6, N'00206', N'00601', CAST(N'2021-09-14T20:16:23.700' AS DateTime), 0, 0)
GO
INSERT [dbo].[OrderStatus] ([IdOrderStatus], [IdOrder], [Location], [Status], [DateOrderStatus]) VALUES (N'588823b8-feec-4d4e-996f-3de1d943af13', N'15386a0d-4867-44d3-baf3-91636514d2cb', N'00201', N'00603', CAST(N'2021-09-13T08:19:17.403' AS DateTime))
INSERT [dbo].[OrderStatus] ([IdOrderStatus], [IdOrder], [Location], [Status], [DateOrderStatus]) VALUES (N'9a85c2b5-4561-42b6-b5d4-40bac22064fb', N'89f3df95-d465-484e-8544-3043b03922c4', N'00201', N'00601', CAST(N'2021-09-13T08:14:24.643' AS DateTime))
INSERT [dbo].[OrderStatus] ([IdOrderStatus], [IdOrder], [Location], [Status], [DateOrderStatus]) VALUES (N'e98ae5f4-f4ae-473c-bcb5-4bc2843b4f5e', N'fc330cb1-9524-4c44-be36-a0c49d291fb2', N'00201', N'00601', CAST(N'2021-09-14T17:21:46.687' AS DateTime))
GO
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'Modelo Bolsillo Cruzado', N'../../../assets/media/Modelo_Bolsillo_Cruzado.jpeg', N'A', CAST(35.0000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'd361e525-deb5-4666-9dbd-1acb12a543af', N'Modelo Bolsillo Tipo Ojal', N'../../../assets/media/Modelo_Bolsillo_Tipo_Ojal.jpeg', N'A', CAST(30.0000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'76d5f7f6-2bd4-4718-9bef-2f21a381cb9f', N'Modelo Con Bolsillo Trasero', N'../../../assets/media/Modelo_Con_Bolsillo_Trasero.jpeg', N'A', CAST(40.0000 AS Numeric(18, 4)))
GO
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'86eee1a7-cf27-4a5a-891a-03ff055d1cf8', N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'00204', N'Lavado de prendas de color negro.', 4)
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'4fae72be-ec60-438d-beab-065fff3b73ec', N'82451157-5164-4dfb-8652-581a66595a9b', N'00204', N'Lavado de prendas de color negro.', 4)
INSERT [dbo].[ProductSubProcess] ([IdProductSubProcess], [IdProduct], [LocationOrder], [Description], [OrderSubProcess]) VALUES (N'797d8dc6-9886-4ef2-8f10-06d810e79740', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00202', N'Corte de tela para elaboración de prenda.', 1)
GO
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (3, N'BONGARA', 1)
GO
INSERT [dbo].[SubOrderFlow] ([IdSubOrderFlow], [IdProductSubProcess], [IdOrderFlow], [StatusSubOrderMT]) VALUES (N'8b1f3079-105c-4327-a4d4-01e658341d96', N'2c469a79-288c-4e2b-a46c-743386014fdc', N'87355fe0-33cd-4f2f-9384-d3e36fa3fb2d', N'00101')
INSERT [dbo].[SubOrderFlow] ([IdSubOrderFlow], [IdProductSubProcess], [IdOrderFlow], [StatusSubOrderMT]) VALUES (N'01e7c5dd-42e7-4b95-9fc0-0349ed987902', N'5e6d3b67-2219-43b6-b0c6-cdfbcdd783c3', N'f95f65fd-9bd1-48fd-89b4-b0568b9d7f7e', N'00101')
INSERT [dbo].[SubOrderFlow] ([IdSubOrderFlow], [IdProductSubProcess], [IdOrderFlow], [StatusSubOrderMT]) VALUES (N'6984bdb1-44a1-4f0c-9d4d-06b80cf95988', N'0923d754-85f2-4b17-9a1f-9729783caa5e', N'e8ab881a-34b9-46d6-86bb-8491c10a1c64', N'00101')
GO
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity]) VALUES (N'eb53dc47-8154-44ee-b70a-0c30411b7ced', N'db8b635a-9715-495a-9267-c9db156af748', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00203', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity]) VALUES (N'aed055b7-960f-4f14-90ea-1421d16a8c5c', N'601c2cfd-5620-4687-94db-96467fb806eb', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00202', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupply], [IdProduct], [MTLocation], [Quantity]) VALUES (N'7ca8d4cf-41b8-48e3-a181-151bb75263fa', N'837ae6eb-05df-4997-aed1-428681ef566c', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00205', CAST(0.00 AS Numeric(9, 2)))
GO
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'580b0875-f477-4686-8736-08e807c737a2', N'cinta santida celeste', N'A', CAST(0.00 AS Numeric(9, 2)), N'00501', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'8e8bcb55-13c9-437b-819c-0a99b94f7fc1', N'placas c ', N'A', CAST(0.00 AS Numeric(9, 2)), N'00502', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[Supply] ([IdSupply], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'6f472791-ceb5-4497-951b-1377cb3551a0', N'maquina de corte', N'A', CAST(0.00 AS Numeric(9, 2)), N'00502', CAST(0.00 AS Numeric(9, 2)))
GO
INSERT [dbo].[User] ([IdUser], [Username], [Password], [RecordStatus], [IdProfile]) VALUES (N'bc0bc688-d46e-4db2-ab4b-b2172ad526f3', N'admin', N'mO+Qpha+NQvkImJhOUfGbQ==', N'A', N'00308')
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (NULL) FOR [Department]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [District]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [IdProvince]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [IdDepartment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([IdCustomer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_MasterTable] FOREIGN KEY([Status])
REFERENCES [dbo].[MasterTable] ([IdMasterTable])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_MasterTable]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_MasterTable1] FOREIGN KEY([Location])
REFERENCES [dbo].[MasterTable] ([IdMasterTable])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_MasterTable1]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_Order]
GO
ALTER TABLE [dbo].[ProductSubProcess]  WITH CHECK ADD  CONSTRAINT [FK_ProductSubProcess_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[ProductSubProcess] CHECK CONSTRAINT [FK_ProductSubProcess_Product]
GO
ALTER TABLE [dbo].[SubOrderFlow]  WITH CHECK ADD  CONSTRAINT [FK_SubOrderFlow_OrderFlow] FOREIGN KEY([IdOrderFlow])
REFERENCES [dbo].[OrderFlow] ([IdOrderFlow])
GO
ALTER TABLE [dbo].[SubOrderFlow] CHECK CONSTRAINT [FK_SubOrderFlow_OrderFlow]
GO
ALTER TABLE [dbo].[SubOrderFlow]  WITH CHECK ADD  CONSTRAINT [FK_SubOrderFlow_ProductSubProcess] FOREIGN KEY([IdProductSubProcess])
REFERENCES [dbo].[ProductSubProcess] ([IdProductSubProcess])
GO
ALTER TABLE [dbo].[SubOrderFlow] CHECK CONSTRAINT [FK_SubOrderFlow_ProductSubProcess]
GO
ALTER TABLE [dbo].[SuppliersBySupply]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplie] FOREIGN KEY([IdSupply])
REFERENCES [dbo].[Supply] ([IdSupply])
GO
ALTER TABLE [dbo].[SuppliersBySupply] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplie]
GO
ALTER TABLE [dbo].[SuppliersBySupply]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[SuppliersBySupply] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplier]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Product]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Supplie] FOREIGN KEY([IdSupply])
REFERENCES [dbo].[Supply] ([IdSupply])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Supplie]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_OrderFlow]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--DESCRIPTION: Permite registrar el flujo de la orden.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Generate_OrderFlow] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Generate_OrderFlow]
	@ParamIIdOrder		UNIQUEIDENTIFIER
AS
BEGIN
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,1
			,'00201'
			,'00601'
			,SYSDATETIME()
			,1
			,1
		)

		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,2
			,'00202'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,3
			,'00203'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)

		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,4
			,'00204'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,5
			,'00205'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)
	
	
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,6
			,'00206'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)

		
		INSERT INTO OrderFlow
		(	IdOrderFlow
			,IdOrder
			,NroOrder
			,LocationOrder
			,Answer
			,DateOrderFlow
			,FlagInProcess
			,FlagActive
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,7
			,'00207'
			,'00601'
			,SYSDATETIME()
			,0
			,0
		)

		
		INSERT INTO OrderStatus
		(	IdOrderStatus
			,IdOrder
			,Location
			,Status
			,DateOrderStatus
		)
		VALUES
		(	
			NEWID()
			,@ParamIIdOrder
			,'00201'
			,'00601'
			,SYSDATETIME()
		)

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_OrderByCodeOrder]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para obtener Order y su estado a partir del CodeOrder
--Change:		-
--Example:		[dbo].[Usp_Get_OrderByCodeOrder]	'202109-000001'
--================================================= 
CREATE PROC [dbo].[Usp_Get_OrderByCodeOrder]
	@ParamICodeOrder	VARCHAR(50)
AS
BEGIN

	DECLARE	@CIdMasterTableParentLocation	CHAR(5)	=	'00200'

	SELECT	O.IdOrder
			,O.DateOrder
			,O.CodeOrder
			,O.[Total]
			,O.StatusOrder
			,O.IdCustomer
			,O.RecordStatus
			,ISNULL(O.BusinessNumber,'') BusinessNumber
			,ISNULL(O.BusinessName,'') BusinessName
			,O.LocationOrder
	FROM	[Order] O
	WHERE	O.CodeOrder	=	@ParamICodeOrder

	SELECT	MT.[Name]			AS	DescriptionStatus
			,[OF].FlagInProcess	AS	FlagStatus
			,[OF].NroOrder		AS	OrderStatus
			,MT.IdMasterTable
			,[OF].Answer
			,CASE [OF].FlagInProcess WHEN 1 THEN  FORMAT([OF].DateOrderFlow,'dd/MM/yyyy') 
			ELSE ''
			END AS	DateOrderFlowSTtring
	FROM	MasterTable	MT
	LEFT JOIN	OrderFlow	[OF]
		ON	MT.IdMasterTable	=	[OF].LocationOrder
	LEFT JOIN	[Order]	O
		ON	[OF].IdOrder	=	O.IdOrder
	WHERE	O.CodeOrder	=	@ParamICodeOrder
	ORDER BY [OF].NroOrder ASC


	SELECT	C.IdCustomer
			,FirstName
			,LastName
			,DocumentNumber
			,PhoneNumber
			,Email
			,C.IdDistrict 
			,D.District
			,D.IdProvince 
			,P.Province
			,DE.IdDepartment 
			,DE.Department
			,C.RecordStatus
	FROM Customer	C
	INNER JOIN	[Order] O
	ON C.IdCustomer	=	O.IdCustomer
	INNER JOIN District	D
	ON D.IdDistrict	=	C.IdDistrict
	INNER JOIN Province	P
	ON P.IdProvince	=	D.IdProvince
	INNER JOIN Department	DE
	ON P.IdDepartment	=	DE.IdDepartment
	WHERE	O.CodeOrder	=	@ParamICodeOrder

	SELECT	OD.IdOrderDetail
			,O.IdOrder
			,OD.IdProduct
			,P.[Name]	AS	[Description]
			,P.PriceUnit	AS	UnitPrice
			,P.PathFile		AS	PathImageProduct
			,OD.Quantity
			,round(P.PriceUnit * OD.Quantity,2)	AS	SubTotal
			,OD.RecordStatus
	FROM	OrderDetail	OD	
	INNER JOIN	[Order] O
		ON	OD.IdOrder	=	O.[IdOrder]
	INNER JOIN	[Product]	P
		ON	OD.IdProduct	=	P.IdProduct
	WHERE	O.CodeOrder	=	@ParamICodeOrder

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Order]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--Description:	SP para listar Order
--Change:		-
--Example:		[dbo].[Usp_List_Order]
--================================================= 
CREATE PROC [dbo].[Usp_List_Order]
AS
BEGIN

	SELECT	O.IdOrder
			,O.DateOrder
			,CodeOrder
			,C.[FirstName]
			,C.[LastName]
			,C.DocumentNumber
			,C.PhoneNumber
			,O.StatusOrder
	FROM	[Order] O
	INNER JOIN	Customer	C
	ON	C.IdCustomer	=	O.IdCustomer
	INNER JOIN MasterTable	M
	ON	M.IdMasterTable	=	O.StatusOrder



	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_OrderByLocation]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=================================================
--Description:	SP para listar Order
--Change:		-
--Example:		[dbo].[Usp_List_OrderByLocation] '00201'
--================================================= 
CREATE PROC [dbo].[Usp_List_OrderByLocation]
@ParamILocationOrder	CHAR(5)
AS
BEGIN

	SELECT	O.IdOrder
			,O.DateOrder
			,CodeOrder
			,C.[FirstName]
			,C.[LastName]
			,C.DocumentNumber
			,C.PhoneNumber
			,C.Email
			,O.LocationOrder
			,M2.[Value]	AS	LocationOrderName
			,O.StatusOrder
			,M.[Value]	AS	StatusOrderName
			,FORMAT(O.DateOrder,'dd/MM/yyyy') DateOrderString
			,M3.[Value]	AS	AnswerName
			,M3.IdMasterTable	AS	Answer
	FROM	[Order] O
	INNER JOIN	Customer	C
	ON	C.IdCustomer	=	O.IdCustomer
	INNER JOIN MasterTable	M
	ON	M.IdMasterTable	=	O.StatusOrder
	INNER JOIN MasterTable	M2
	ON	M2.IdMasterTable	=	O.LocationOrder
	INNER JOIN OrderFlow	OFL
	ON	OFL.LocationOrder	=   @ParamILocationOrder
	AND	OFL.IdOrder			=	O.IdOrder
	INNER JOIN MasterTable	M3
	ON	M3.IdMasterTable	=	Answer
--	WHERE O.LocationOrder	=	@ParamILocationOrder


	IF OBJECT_ID(N'tempdb..#TMP_QUANTITY') IS NOT NULL
	BEGIN
	DROP TABLE #TMP_QUANTITY
	END

	SELECT	IdMasterTable
			,[Name]
			,0	Quantity 
	INTO	#TMP_QUANTITY
	FROM	MasterTable
	WHERE	IdMasterTableParent	=	'00600'
	
	DECLARE @MasterRespuestas	CHAR(5)	='00600',
			@MPendiente			CHAR(5)	='00601',
			@MAprobado			CHAR(5)	='00602',
			@MRechazado			CHAR(5)	='00603'

	DECLARE @IPendiente	INT,
			@IAprobado	INT,
			@IRechazado	INT


	SELECT	@IPendiente	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		FlagActive		=	1
	AND		Answer			=	@MPendiente
	--AND		Answer			=	@MAprobado

	SELECT	@IAprobado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MAprobado

	SELECT	@IRechazado	=	COUNT(1)  
	FROM	OrderFlow
	WHERE	LocationOrder	=	@ParamILocationOrder
	AND		FlagInProcess	=	1
	AND		Answer			=	@MRechazado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IPendiente
	WHERE	IdMasterTable	=	@MPendiente

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IAprobado
	WHERE	IdMasterTable	=	@MAprobado

	UPDATE #TMP_QUANTITY
	SET	Quantity =	@IRechazado
	WHERE	IdMasterTable	=	@MRechazado

	INSERT INTO	#TMP_QUANTITY
	VALUES (0,'Total',0)

	UPDATE #TMP_QUANTITY
	SET Quantity =( SELECT COUNT(1) FROM [Order] /*WHERE LocationOrder	=	@ParamILocationOrder */	)
	WHERE IdMasterTable = 0
	
	SELECT * FROM #TMP_QUANTITY order by IdMasterTable asc
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Product]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los productos que están activos en el sistema.
--Change:		-
--Example:		[dbo].[Usp_List_Product]
--================================================= 
CREATE PROC [dbo].[Usp_List_Product]
AS
BEGIN

	DECLARE	@CActiveStatus	CHAR(1)	=	'A';

	SELECT	IdProduct
			,[Name]
			,ISNULL(PathFile,'') PathFile
			,RecordStatus
			,ISNULL(PriceUnit,0) PriceUnit
			,0 Quantity
	FROM	Product
	WHERE	RecordStatus	=	@CActiveStatus
	ORDER BY [Name] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_SuppliesByProduct]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los insumos por producto a partir del IdProduct.
--Change:		-
--Example:		[dbo].[Usp_List_SuppliesByProduct]
--================================================= 
CREATE PROC [dbo].[Usp_List_SuppliesByProduct]
	@ParamIIdProduct	VARCHAR(50)
AS
BEGIN

	SELECT	S.IdSupply
			,S.[Name]
			,SP.Quantity
			,MT.[Name]		AS	MeasureUnit
	FROM	Supply	S
	INNER JOIN	SuppliesByProduct	SP
		ON	S.IdSupply	=	SP.IdSupply
	INNER JOIN	Product	P
		ON	SP.IdProduct	=	P.IdProduct
	INNER JOIN	MasterTable	MT
		ON	MT.IdMasterTable	=	S.MeasureUnit
	WHERE	P.IdProduct	=	@ParamIIdProduct;

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Ubi]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar tablas ubigeo
--Change:		-
--Example:		[dbo].[Usp_List_Ubi]
--================================================= 
CREATE PROC [dbo].[Usp_List_Ubi]
AS
BEGIN

	SELECT	IdDepartment,
			Department 
	FROM	Department

	SELECT	IdProvince,
			Province,
			IdDepartment 
	FROM	Province

	SELECT	IdDistrict,
			District,
			IdProvince
	FROM	District

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Login]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para validar el acceso del usuario al sistema.
--Change:		-
--Example:		[dbo].[Usp_Login] 'admin', 'mO+Qpha+NQvkImJhOUfGbQ=='
--================================================= 
CREATE PROC [dbo].[Usp_Login]
	@ParamIUsername		VARCHAR(100)
	,@ParamIPassword	VARCHAR(MAX)
AS
BEGIN
	
	DECLARE @IdProfile char(5)

	SELECT	@IdProfile	= IdProfile
	FROM	[User]
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	SELECT	IdUser
			,Username
			,[Password]
			,US.RecordStatus
			,IdProfile
			,MT.[Name] AS ProfileName
	FROM	[User] US
	INNER JOIN MasterTable MT
	ON US.IdProfile	= MT.IdMasterTable
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	
	SELECT	mp.IdMenuProfile,
			mp.IdMenu,
			mp.IdProfile,
			me.MenuName,
			mp.RecordStatus,
			me.UrlName
	FROM	MenuProfile mp
	INNER JOIN	Menu me
	ON	mp.IdMenu = me.IdMenu
	WHERE	mp.IdProfile = @IdProfile


END
GO
/****** Object:  StoredProcedure [dbo].[Usp_MasterTable_List]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_MasterTable_List]
@ParamIRecordStatus CHAR(1)
AS
BEGIN
	SELECT	IdMasterTable,
			IdMasterTableParent,
			[Name],
			[Order],
			[Value],
			AdditionalOne,
			AdditionalTwo,
			AdditionalThree,
			RecordStatus 
	FROM MasterTable
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_Customer]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar los customer
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_Customer] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_Customer]
	@ParamIIdCustomer		UNIQUEIDENTIFIER
	,@ParamIFirstName		VARCHAR(100)
	,@ParamILastName		VARCHAR(100)
	,@ParamIDocumentNumber	VARCHAR(20)
	,@ParamIPhoneNumber		VARCHAR(20)	
	,@ParamIEmail			VARCHAR(100)
	,@ParamIIdDistrict		INT
	,@ParamIRecordStatus	CHAR(1)	
AS
BEGIN

	MERGE	[dbo].[Customer]	AS	TARGET
	USING(
		SELECT	@ParamIIdCustomer		
				,@ParamIFirstName
				,@ParamILastName		
				,@ParamIDocumentNumber		
				,@ParamIPhoneNumber
				,@ParamIEmail
				,@ParamIIdDistrict
				,@ParamIRecordStatus
		)	AS SOURCE	(
				IdCustomer
				,FirstName
				,LastName
				,DocumentNumber
				,PhoneNumber
				,Email
				,IdDistrict
				,RecordStatus
		)
	ON (TARGET.IdCustomer	=	SOURCE.IdCustomer)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.FirstName	=	SOURCE.FirstName
			,TARGET.LastName		=	SOURCE.LastName
			,TARGET.DocumentNumber	=	SOURCE.DocumentNumber			
			,TARGET.PhoneNumber	=	SOURCE.PhoneNumber
			,TARGET.Email	=	SOURCE.Email
			,TARGET.IdDistrict	=	SOURCE.IdDistrict
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdCustomer
			,FirstName
			,LastName
			,DocumentNumber
			,PhoneNumber
			,Email
			,IdDistrict
			,RecordStatus
		)
		VALUES
		(	
			SOURCE.IdCustomer
			,SOURCE.FirstName
			,SOURCE.LastName
			,SOURCE.DocumentNumber
			,SOURCE.PhoneNumber
			,SOURCE.Email
			,SOURCE.IdDistrict
			,SOURCE.RecordStatus
		)
	
	OUTPUT
		inserted.IdCustomer;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_Order]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar las cabeceras de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_Order] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_Order]
	@ParamIIdOrder		UNIQUEIDENTIFIER
	,@ParamIDateOrder	DATETIME
	,@ParamITotal		NUMERIC(9,2)
	,@ParamIStatusOrder		CHAR(5)
	,@ParamILocationOrder		CHAR(5)
	,@ParamIIdCustomer	UNIQUEIDENTIFIER	
	,@ParamIBusinessNumber VARCHAR(11)
	,@ParamIBusinessName VARCHAR(200)
	,@ParamIRecordStatus	CHAR(1)	
AS
BEGIN

	MERGE	[dbo].[Order]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrder		
				,@ParamIDateOrder
				,@ParamITotal		
				,@ParamIStatusOrder	
				,@ParamILocationOrder
				,@ParamIIdCustomer
				,@ParamIRecordStatus
				,@ParamIBusinessNumber
				,@ParamIBusinessName				
		)	AS SOURCE	(
				IdOrder
				,DateOrder
				,Total
				,StatusOrder
				,LocationOrder
				,IdCustomer
				,RecordStatus
				,BusinessNumber
				,BusinessName
		)
	ON (TARGET.IdOrder	=	SOURCE.IdOrder)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.DateOrder		=	SOURCE.DateOrder
			,TARGET.Total			=	SOURCE.Total
			,TARGET.StatusOrder		=	SOURCE.StatusOrder
			,TARGET.LocationOrder	=	SOURCE.LocationOrder			
			,TARGET.IdCustomer		=	SOURCE.IdCustomer
			,TARGET.BusinessNumber	=	SOURCE.BusinessNumber
			,TARGET.BusinessName	=	SOURCE.BusinessName
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrder
			,DateOrder
			,CodeOrder
			,Total
			,StatusOrder
			,LocationOrder
			,IdCustomer
			,RecordStatus
			,BusinessName
			,BusinessNumber
		)
		VALUES
		(	
			SOURCE.IdOrder
			,SOURCE.DateOrder
			,[dbo].[FN_GetCodeOrder]()
			,SOURCE.Total
			,SOURCE.StatusOrder
			,SOURCE.LocationOrder
			,SOURCE.IdCustomer
			,SOURCE.RecordStatus
			,SOURCE.BusinessName
			,SOURCE.BusinessNumber
		)
		

		--INSERT INTO OrderStatus
		--VALUES (NEWID(),SOURCE.IdOrder,'00201','00101'
	OUTPUT
		inserted.IdOrder;


	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_OrderDetail]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar el detalle de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_OrderDetail] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_OrderDetail]
	@ParamIIdOrderDetail	UNIQUEIDENTIFIER
	,@ParamIIdOrder			UNIQUEIDENTIFIER
	,@ParamIIdProduct		UNIQUEIDENTIFIER
	,@ParamIDescription		VARCHAR(3000)
	,@ParamIQuantity		DECIMAL(18,4)
	,@ParamIRecordStatus	CHAR(1)
AS
BEGIN

	MERGE	[dbo].[OrderDetail]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrderDetail
				,@ParamIIdOrder		
				,@ParamIIdProduct	
				,@ParamIDescription	
				,@ParamIQuantity	
				,@ParamIRecordStatus
		)	AS SOURCE	(
				IdOrderDetail
				,IdOrder
				,IdProduct
				,[Description]
				,Quantity
				,RecordStatus
		)
	ON (TARGET.IdOrderDetail	=	SOURCE.IdOrderDetail)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.IdOrder			=	SOURCE.IdOrder
			,TARGET.IdProduct		=	SOURCE.IdProduct
			,TARGET.[Description]	=	SOURCE.[Description]
			,TARGET.Quantity		=	SOURCE.Quantity
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrderDetail
			,IdOrder
			,IdProduct
			,[Description]
			,Quantity
			,RecordStatus
		)
		VALUES
		(	
			SOURCE.IdOrderDetail
			,SOURCE.IdOrder
			,SOURCE.IdProduct
			,SOURCE.[Description]
			,SOURCE.Quantity
			,SOURCE.RecordStatus
		)
	
	OUTPUT
		inserted.IdOrderDetail;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upd_OrderFlow]    Script Date: 26/09/2021 00:13:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para actualizar el flujo de la orden a partir del IdOrder, LocationOrder y del Answer
--Change:		-
--Example:		[dbo].[Usp_Upd_OrderFlow]	'698D0C51-C86C-4B0B-B2FE-78103EAB3403', '00203', '00602'
--================================================= 
CREATE PROC [dbo].[Usp_Upd_OrderFlow]
	@ParamIIdOrder			VARCHAR(50)
	,@ParamILocationOrder	CHAR(5)
	,@ParamIAnswer			CHAR(5)
AS
BEGIN

	DECLARE	@CFlagTrue					BIT	=	1;
	DECLARE	@CFlagFalse					BIT	=	0;
	DECLARE	@CLastLocation				CHAR(5)	=	'00207';
	DECLARE	@CStatusOrderInProcess		CHAR(5)	=	'00102';
	DECLARE	@CStatusOrderCompleted		CHAR(5)	=	'00103';

	DECLARE	@VLocationOrderFlowActive	CHAR(5);
	
	SELECT	@VLocationOrderFlowActive	=	[OF].LocationOrder
	FROM	OrderFlow	[OF]
	WHERE	[OF].IdOrder	=	@ParamIIdOrder
		AND	[OF].FlagActive	=	@CFlagTrue;

	IF(@VLocationOrderFlowActive	=	@ParamILocationOrder)
	BEGIN
		--Como se trata del mismo Proceso solo actualiza el estado del proceso
		UPDATE	OrderFlow
		SET	Answer	=	@ParamIAnswer
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	LocationOrder	=	@ParamILocationOrder;
	END
	ELSE
	BEGIN
		--Como se trata de otro proceso dentro del flujo, realiza lo siguiente
		--Inactiva el vigente
		UPDATE	OrderFlow
		SET	FlagActive	=	@CFlagFalse
			,DateOrderFlow	=	GETDATE()
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	FlagActive	=	@CFlagTrue;
		--Actualiza el que proceso al que está ingresando
		UPDATE	OrderFlow
		SET	Answer	=	@ParamIAnswer
			,FlagInProcess	=	@CFlagTrue
			,FlagActive	=	@CFlagTrue
			,DateOrderFlow	=	GETDATE()
		WHERE	IdOrder	=	@ParamIIdOrder
			AND	LocationOrder	=	@ParamILocationOrder;
		--Se actualiza el LocationOrder en la tabla Order
		IF(@ParamILocationOrder	=	@CLastLocation)
		BEGIN
			UPDATE	[Order]
			SET	LocationOrder	=	@ParamILocationOrder
				,StatusOrder	=	@CStatusOrderCompleted
			WHERE	IdOrder	=	@ParamIIdOrder;
		END
		ELSE
		BEGIN
			UPDATE	[Order]
			SET	LocationOrder	=	@ParamILocationOrder
				,StatusOrder	=	@CStatusOrderInProcess
			WHERE	IdOrder	=	@ParamIIdOrder;
		END
	END

	--Se registra el paso del proceso de la orden en la tabla OrderStatus
	INSERT INTO	OrderStatus	(	IdOrderStatus
								,IdOrder
								,[Location]
								,[Status]
								,DateOrderStatus)
	VALUES	(	NEWID()
				,@ParamIIdOrder
				,@ParamILocationOrder
				,@ParamIAnswer
				,GETDATE());

END
GO
USE [master]
GO
