USE [master]
GO
/****** Object:  Database [MAPESAC]    Script Date: 3/09/2021 00:26:59 ******/
CREATE DATABASE [MAPESAC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAPESAC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPESAC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MAPESAC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MAPESAC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAPESAC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAPESAC]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCodeOrder]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetCodeOrder] ()  
	RETURNS CHAR(13)  
AS  
BEGIN  
	DECLARE	@VResult	CHAR(13);
	DECLARE	@CDate		DATETIME	=	GETDATE()
	SELECT	@VResult	=	CONCAT(	RIGHT(YEAR(@CDate),4)
									,RIGHT(CONCAT('00',CAST(MONTH(@CDate)  AS VARCHAR(2))),2)
									,'-'
									,RIGHT(CONCAT('000000',CAST(COUNT(1)+1  AS VARCHAR(6))),6))
	FROM	dbo.[Order]	O
	WHERE	YEAR(O.DateOrder)	=	YEAR(@CDate)
	AND		MONTH(O.DateOrder)	=	MONTH(@CDate)

	RETURN	@VResult;
END;  
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IdDepartment] [int] NOT NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[IdDistrict] [int] NOT NULL,
	[District] [varchar](50) NULL,
	[IdProvince] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterTable]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterTable](
	[IdMasterTable] [char](5) NOT NULL,
	[IdMasterTableParent] [char](5) NULL,
	[Name] [varchar](100) NULL,
	[Order] [int] NULL,
	[Value] [varchar](max) NULL,
	[AdditionalOne] [varchar](100) NULL,
	[AdditionalTwo] [varchar](100) NULL,
	[AdditionalThree] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_MasterTable] PRIMARY KEY CLUSTERED 
(
	[IdMasterTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [char](5) NOT NULL,
	[MenuName] [varchar](100) NOT NULL,
	[UrlName] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuProfile]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuProfile](
	[IdMenuProfile] [uniqueidentifier] NOT NULL,
	[IdMenu] [char](5) NOT NULL,
	[IdProfile] [char](5) NOT NULL,
	[RecordStatus] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [uniqueidentifier] NOT NULL,
	[DateOrder] [datetime] NOT NULL,
	[CodeOrder] [varchar](50) NOT NULL,
	[Total] [numeric](9, 2) NOT NULL,
	[Status] [char](5) NULL,
	[IdCustomer] [uniqueidentifier] NOT NULL,
	[RecordStatus] [char](1) NULL,
	[BusinessNumber] [varchar](11) NULL,
	[BusinessName] [varchar](200) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[IdOrderDetail] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Description] [varchar](3000) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[IdOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[IdOrderStatus] [uniqueidentifier] NOT NULL,
	[IdOrder] [uniqueidentifier] NOT NULL,
	[Location] [char](5) NULL,
	[Status] [char](5) NOT NULL,
	[DateOrderStatus] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[PathFile] [varchar](max) NULL,
	[RecordStatus] [char](1) NULL,
	[PriceUnit] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[IdProvince] [int] NOT NULL,
	[Province] [varchar](50) NULL,
	[IdDepartment] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvince] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplie]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplie](
	[IdSupplie] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[Stock] [numeric](9, 2) NULL,
	[MeasureUnit] [char](5) NULL,
	[MinimumStock] [numeric](9, 2) NULL,
 CONSTRAINT [PK_Supplie] PRIMARY KEY CLUSTERED 
(
	[IdSupplie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[RecordStatus] [char](1) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliersBySupplie]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliersBySupplie](
	[IdSuppliersBySupplie] [uniqueidentifier] NOT NULL,
	[IdSupplier] [uniqueidentifier] NOT NULL,
	[IdSupplie] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SuppliersBySupplie] PRIMARY KEY CLUSTERED 
(
	[IdSuppliersBySupplie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliesByProduct]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliesByProduct](
	[IdSuppliesByProduct] [uniqueidentifier] NOT NULL,
	[IdSupplie] [uniqueidentifier] NOT NULL,
	[IdProduct] [uniqueidentifier] NOT NULL,
	[MTLocation] [char](5) NULL,
	[Quantity] [numeric](9, 2) NOT NULL,
 CONSTRAINT [PK_SuppliesByProduct] PRIMARY KEY CLUSTERED 
(
	[IdSuppliesByProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[RecordStatus] [char](1) NULL,
	[IdProfile] [char](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([IdCustomer], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [RecordStatus]) VALUES (N'3533873d-82e4-4871-b4de-8a5bc9f41c73', N'Nahomy', N'Del Aguila Zavala', N'04056325', N'999944445', N'ndelaguila@gmail.com', N'A')
GO
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (2, N'ANCASH')
INSERT [dbo].[Department] ([IdDepartment], [Department]) VALUES (3, N'APURIMAC')
GO
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[District] ([IdDistrict], [District], [IdProvince]) VALUES (3, N'BALSAS', 1)
GO
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00100', NULL, N'Estado Pedido', NULL, NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00101', N'00100', N'Pendiente', 1, N'Pendiente', NULL, NULL, NULL, N'A')
INSERT [dbo].[MasterTable] ([IdMasterTable], [IdMasterTableParent], [Name], [Order], [Value], [AdditionalOne], [AdditionalTwo], [AdditionalThree], [RecordStatus]) VALUES (N'00102', N'00100', N'En Proceso', 2, N'En Proceso', NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME001', N'Area de Ventas', N'ventas', N'A')
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME002', N'Area de Almacen', N'almacen', N'A')
INSERT [dbo].[Menu] ([IdMenu], [MenuName], [UrlName], [RecordStatus]) VALUES (N'ME003', N'Area de Corte', N'corte', N'A')
GO
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'1c515671-b558-4f28-b836-642a309ee437', N'ME001', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c7d60203-574d-4a51-8616-4eb0997f664c', N'ME002', N'00308', N'A')
INSERT [dbo].[MenuProfile] ([IdMenuProfile], [IdMenu], [IdProfile], [RecordStatus]) VALUES (N'c5eaed28-0e31-4f33-bc73-7dcca84b8460', N'ME003', N'00308', N'A')
GO
INSERT [dbo].[Order] ([IdOrder], [DateOrder], [CodeOrder], [Total], [Status], [IdCustomer], [RecordStatus], [BusinessNumber], [BusinessName]) VALUES (N'f8bdecaf-9255-4055-a590-eafb02e39de2', CAST(N'2021-09-01T00:00:00.000' AS DateTime), N'UNDEFINEDCODE', CAST(6000.00 AS Numeric(9, 2)), N'00101', N'3533873d-82e4-4871-b4de-8a5bc9f41c73', N'A', N'12345678901', N'Empresa')
GO
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'1fa19b13-e1fe-4550-b611-0e37ce23b9cf', N'Modelo F', N'../../../assets/media/jean.png', N'A', CAST(3.0000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'd361e525-deb5-4666-9dbd-1acb12a543af', N'Modelo G', N'../../../assets/media/jean.png', N'A', CAST(3.5000 AS Numeric(18, 4)))
INSERT [dbo].[Product] ([IdProduct], [Name], [PathFile], [RecordStatus], [PriceUnit]) VALUES (N'76d5f7f6-2bd4-4718-9bef-2f21a381cb9f', N'Modelo C', N'../../../assets/media/jean.png', N'A', CAST(2.0000 AS Numeric(18, 4)))
GO
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[Province] ([IdProvince], [Province], [IdDepartment]) VALUES (3, N'BONGARA', 1)
GO
INSERT [dbo].[Supplie] ([IdSupplie], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'580b0875-f477-4686-8736-08e807c737a2', N'cinta santida celeste', N'A', CAST(0.00 AS Numeric(9, 2)), N'00501', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[Supplie] ([IdSupplie], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'8e8bcb55-13c9-437b-819c-0a99b94f7fc1', N'placas c ', N'A', CAST(0.00 AS Numeric(9, 2)), N'00502', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[Supplie] ([IdSupplie], [Name], [RecordStatus], [Stock], [MeasureUnit], [MinimumStock]) VALUES (N'6f472791-ceb5-4497-951b-1377cb3551a0', N'maquina de corte', N'A', CAST(0.00 AS Numeric(9, 2)), N'00502', CAST(0.00 AS Numeric(9, 2)))
GO
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupplie], [IdProduct], [MTLocation], [Quantity]) VALUES (N'eb53dc47-8154-44ee-b70a-0c30411b7ced', N'db8b635a-9715-495a-9267-c9db156af748', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00203', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupplie], [IdProduct], [MTLocation], [Quantity]) VALUES (N'aed055b7-960f-4f14-90ea-1421d16a8c5c', N'601c2cfd-5620-4687-94db-96467fb806eb', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00202', CAST(0.00 AS Numeric(9, 2)))
INSERT [dbo].[SuppliesByProduct] ([IdSuppliesByProduct], [IdSupplie], [IdProduct], [MTLocation], [Quantity]) VALUES (N'7ca8d4cf-41b8-48e3-a181-151bb75263fa', N'837ae6eb-05df-4997-aed1-428681ef566c', N'4fecb6ff-0508-45c2-a2c2-84c2f51514f6', N'00205', CAST(0.00 AS Numeric(9, 2)))
GO
INSERT [dbo].[User] ([IdUser], [Username], [Password], [RecordStatus], [IdProfile]) VALUES (N'bc0bc688-d46e-4db2-ab4b-b2172ad526f3', N'admin', N'mO+Qpha+NQvkImJhOUfGbQ==', N'A', N'00308')
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (NULL) FOR [Department]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [District]
GO
ALTER TABLE [dbo].[District] ADD  DEFAULT (NULL) FOR [IdProvince]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [Province]
GO
ALTER TABLE [dbo].[Province] ADD  DEFAULT (NULL) FOR [IdDepartment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([IdCustomer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_MasterTable] FOREIGN KEY([Status])
REFERENCES [dbo].[MasterTable] ([IdMasterTable])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_MasterTable]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_MasterTable1] FOREIGN KEY([Location])
REFERENCES [dbo].[MasterTable] ([IdMasterTable])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_MasterTable1]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_Order] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_Order]
GO
ALTER TABLE [dbo].[SuppliersBySupplie]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplie] FOREIGN KEY([IdSupplie])
REFERENCES [dbo].[Supplie] ([IdSupplie])
GO
ALTER TABLE [dbo].[SuppliersBySupplie] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplie]
GO
ALTER TABLE [dbo].[SuppliersBySupplie]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersBySupplie_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[SuppliersBySupplie] CHECK CONSTRAINT [FK_SuppliersBySupplie_Supplier]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Product]
GO
ALTER TABLE [dbo].[SuppliesByProduct]  WITH CHECK ADD  CONSTRAINT [FK_SuppliesByProduct_Supplie] FOREIGN KEY([IdSupplie])
REFERENCES [dbo].[Supplie] ([IdSupplie])
GO
ALTER TABLE [dbo].[SuppliesByProduct] CHECK CONSTRAINT [FK_SuppliesByProduct_Supplie]
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Order]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar Order
--Change:		-
--Example:		[dbo].[Usp_List_Order]
--================================================= 
CREATE PROC [dbo].[Usp_List_Order]
AS
BEGIN

	SELECT	O.IdOrder
			,O.DateOrder
			,CodeOrder
			,C.[FirstName]
			,C.[LastName]
			,C.DocumentNumber
			,C.PhoneNumber
			,O.[Status]
	FROM	[Order] O
	INNER JOIN	Customer	C
	ON	C.IdCustomer	=	O.IdCustomer
	INNER JOIN MasterTable	M
	ON	M.IdMasterTable	=	O.[Status]

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Product]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar todos los productos que están activos en el sistema.
--Change:		-
--Example:		[dbo].[Usp_List_Product]
--================================================= 
CREATE PROC [dbo].[Usp_List_Product]
AS
BEGIN

	DECLARE	@CActiveStatus	CHAR(1)	=	'A';

	SELECT	IdProduct
			,[Name]
			,ISNULL(PathFile,'') PathFile
			,RecordStatus
			,ISNULL(PriceUnit,0) PriceUnit
			,0 Quantity
	FROM	Product
	WHERE	RecordStatus	=	@CActiveStatus
	ORDER BY [Name] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_List_Ubi]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para listar tablas ubigeo
--Change:		-
--Example:		[dbo].[Usp_List_Ubi]
--================================================= 
CREATE PROC [dbo].[Usp_List_Ubi]
AS
BEGIN

	SELECT	IdDepartment,
			Department 
	FROM	Department

	SELECT	IdProvince,
			Province,
			IdDepartment 
	FROM	Province

	SELECT	IdDistrict,
			District,
			IdProvince
	FROM	District

END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Login]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--Description:	SP para validar el acceso del usuario al sistema.
--Change:		-
--Example:		[dbo].[Usp_Login] 'admin', 'mO+Qpha+NQvkImJhOUfGbQ=='
--================================================= 
CREATE PROC [dbo].[Usp_Login]
	@ParamIUsername		VARCHAR(100)
	,@ParamIPassword	VARCHAR(MAX)
AS
BEGIN
	
	DECLARE @IdProfile char(5)

	SELECT	@IdProfile	= IdProfile
	FROM	[User]
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	SELECT	IdUser
			,Username
			,[Password]
			,RecordStatus
			,IdProfile
	FROM	[User]
	WHERE	Username	=	@ParamIUsername
		AND	[Password]	=	@ParamIPassword

	
	SELECT	mp.IdMenuProfile,
			mp.IdMenu,
			mp.IdProfile,
			me.MenuName,
			mp.RecordStatus,
			me.UrlName
	FROM	MenuProfile mp
	INNER JOIN	Menu me
	ON	mp.IdMenu = me.IdMenu
	WHERE	mp.IdProfile = @IdProfile


END
GO
/****** Object:  StoredProcedure [dbo].[Usp_MasterTable_List]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Usp_MasterTable_List]
AS
BEGIN
	SELECT	IdMasterTable,
			IdMasterTableParent,
			[Name],
			[Order],
			[Value],
			AdditionalOne,
			AdditionalTwo,
			AdditionalThree,
			RecordStatus 
	FROM MasterTable
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_Order]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar las cabeceras de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_Order] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_Order]
	@ParamIIdOrder		UNIQUEIDENTIFIER
	,@ParamIDateOrder	DATETIME
	,@ParamITotal		NUMERIC(9,2)
	,@ParamIStatus		CHAR(5)
	,@ParamIIdCustomer	UNIQUEIDENTIFIER	
	,@ParamIBusinessNumber VARCHAR(11)
	,@ParamIBusinessName VARCHAR(200)
	,@ParamIRecordStatus	CHAR(1)	
AS
BEGIN

	MERGE	[dbo].[Order]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrder		
				,@ParamIDateOrder
				,@ParamITotal		
				,@ParamIStatus		
				,@ParamIIdCustomer
				,@ParamIRecordStatus
				,@ParamIBusinessNumber
				,@ParamIBusinessName				
		)	AS SOURCE	(
				IdOrder
				,DateOrder
				,Total
				,[Status]
				,IdCustomer
				,RecordStatus
				,BusinessNumber
				,BusinessName
		)
	ON (TARGET.IdOrder	=	SOURCE.IdOrder)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.DateOrder	=	SOURCE.DateOrder
			,TARGET.Total		=	SOURCE.Total
			,TARGET.[Status]	=	SOURCE.[Status]
			,TARGET.IdCustomer	=	SOURCE.IdCustomer
			,TARGET.BusinessNumber	=	SOURCE.BusinessNumber
			,TARGET.BusinessName	=	SOURCE.BusinessName
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrder
			,DateOrder
			,CodeOrder
			,Total
			,[Status]
			,IdCustomer
			,RecordStatus
			,BusinessName
			,BusinessNumber
		)
		VALUES
		(	
			SOURCE.IdOrder
			,SOURCE.DateOrder
			,[dbo].[FN_GetCodeOrder]()
			,SOURCE.Total
			,SOURCE.[Status]
			,SOURCE.IdCustomer
			,SOURCE.RecordStatus
			,SOURCE.BusinessName
			,SOURCE.BusinessNumber
		)
	
	OUTPUT
		inserted.IdOrder;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_Mrg_OrderDetail]    Script Date: 3/09/2021 00:26:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================================
--DESCRIPTION: Permite registrar el detalle de las órdenes.
--CHANGE:	   -
--EXAMPLE:     EXEC [dbo].[Usp_Mrg_OrderDetail] 
--=================================================
CREATE PROCEDURE	[dbo].[Usp_Mrg_OrderDetail]
	@ParamIIdOrderDetail	UNIQUEIDENTIFIER
	,@ParamIIdOrder			UNIQUEIDENTIFIER
	,@ParamIIdProduct		UNIQUEIDENTIFIER
	,@ParamIDescription		VARCHAR(3000)
	,@ParamIQuantity		DECIMAL(18,4)
	,@ParamIRecordStatus	CHAR(1)
AS
BEGIN

	MERGE	[dbo].[OrderDetail]	AS	TARGET
	USING(
		SELECT	@ParamIIdOrderDetail
				,@ParamIIdOrder		
				,@ParamIIdProduct	
				,@ParamIDescription	
				,@ParamIQuantity	
				,@ParamIRecordStatus
		)	AS SOURCE	(
				IdOrderDetail
				,IdOrder
				,IdProduct
				,[Description]
				,Quantity
				,RecordStatus
		)
	ON (TARGET.IdOrderDetail	=	SOURCE.IdOrderDetail)
	WHEN MATCHED THEN
		UPDATE SET		
			TARGET.IdOrder			=	SOURCE.IdOrder
			,TARGET.IdProduct		=	SOURCE.IdProduct
			,TARGET.[Description]	=	SOURCE.[Description]
			,TARGET.Quantity		=	SOURCE.Quantity
			,TARGET.RecordStatus	=	SOURCE.RecordStatus
	WHEN NOT MATCHED THEN
		INSERT 
		(	IdOrderDetail
			,IdOrder
			,IdProduct
			,[Description]
			,Quantity
			,RecordStatus
		)
		VALUES
		(	
			SOURCE.IdOrderDetail
			,SOURCE.IdOrder
			,SOURCE.IdProduct
			,SOURCE.[Description]
			,SOURCE.Quantity
			,SOURCE.RecordStatus
		)
	
	OUTPUT
		inserted.IdOrderDetail;
	
END
GO
USE [master]
GO
